Section 3/Video 3.8/3.8_flows1.json
[{"id":"13ed4bb7.2b01f4","type":"ui_text","z":"a1851062.c1d9d","group":"b959a2f7.4e215","order":0,"width":0,"height":0,"name":"","label":"Number:","format":"{{msg.payload}}","layout":"row-center","x":620,"y":80,"wires":[]},{"id":"49520123.60d43","type":"inject","z":"a1851062.c1d9d","name":"","topic":"","payload":"Hola!","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":80,"wires":[["d8a997bc.7425c8"]]},{"id":"90bece02.5275c","type":"ui_toast","z":"a1851062.c1d9d","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":640,"y":120,"wires":[]},{"id":"42942b8.c4a0cd4","type":"ui_chart","z":"a1851062.c1d9d","name":"","group":"3118e183.85902e","order":0,"width":0,"height":0,"label":"Chart:","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":160,"wires":[[]]},{"id":"7f5f5879.e853e8","type":"ui_gauge","z":"a1851062.c1d9d","name":"","group":"3c74dd27.a81912","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge:","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":200,"wires":[]},{"id":"d8a997bc.7425c8","type":"random","z":"a1851062.c1d9d","name":"","low":"1","high":"100","inte":"true","property":"payload","x":400,"y":80,"wires":[["13ed4bb7.2b01f4","90bece02.5275c","42942b8.c4a0cd4","7f5f5879.e853e8"]]},{"id":"f4685c56.d54f8","type":"ui_button","z":"a1851062.c1d9d","name":"","group":"76cac330.02a25c","order":1,"width":0,"height":0,"passthru":false,"label":"Button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":260,"wires":[["4a621cbd.8b2514"]]},{"id":"672511c0.0661e","type":"ui_switch","z":"a1851062.c1d9d","name":"","label":"Switch","tooltip":"","group":"76cac330.02a25c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":250,"y":300,"wires":[["4a621cbd.8b2514"]]},{"id":"3ba46b52.973994","type":"ui_slider","z":"a1851062.c1d9d","name":"","label":"Slider","tooltip":"","group":"76cac330.02a25c","order":3,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":250,"y":340,"wires":[["42942b8.c4a0cd4"]]},{"id":"99ff1d8b.62933","type":"ui_numeric","z":"a1851062.c1d9d","name":"","label":"Numeric","tooltip":"","group":"76cac330.02a25c","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":240,"y":380,"wires":[["f974906.a4b917"]]},{"id":"9c47167c.9c1c38","type":"ui_text_input","z":"a1851062.c1d9d","name":"","label":"Text Input","tooltip":"","group":"76cac330.02a25c","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":240,"y":420,"wires":[["f974906.a4b917"]]},{"id":"1dd85031.a2da2","type":"ui_date_picker","z":"a1851062.c1d9d","name":"","label":"Date","group":"76cac330.02a25c","order":6,"width":0,"height":0,"passthru":true,"topic":"","x":250,"y":460,"wires":[["f974906.a4b917"]]},{"id":"9d08511.95369b","type":"ui_colour_picker","z":"a1851062.c1d9d","name":"","label":"","group":"76cac330.02a25c","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":7,"width":0,"height":0,"passthru":false,"topic":"","x":230,"y":500,"wires":[["f974906.a4b917"]]},{"id":"4a621cbd.8b2514","type":"ui_chart","z":"a1851062.c1d9d","name":"","group":"76cac330.02a25c","order":0,"width":0,"height":0,"label":"Chart:","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":280,"wires":[[]]},{"id":"f974906.a4b917","type":"ui_toast","z":"a1851062.c1d9d","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":460,"y":420,"wires":[]},{"id":"b959a2f7.4e215","type":"ui_group","z":"","name":"Group1","tab":"6435e059.ee139","disp":true,"width":"6","collapse":true},{"id":"3118e183.85902e","type":"ui_group","z":"","name":"Group2","tab":"6435e059.ee139","disp":true,"width":"6","collapse":true},{"id":"3c74dd27.a81912","type":"ui_group","z":"","name":"Group3","tab":"6435e059.ee139","disp":true,"width":"6","collapse":true},{"id":"76cac330.02a25c","type":"ui_group","z":"","name":"Group4","tab":"6435e059.ee139","disp":true,"width":"6","collapse":false},{"id":"6435e059.ee139","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]