Section 3/Video 3.8/3.8_flows2.json
[{"id":"e1b497a6.3c5c38","type":"ui_audio","z":"b6d4772c.be7978","name":"","group":"d4417f9b.2d4ee","voice":"en-US","always":true,"x":500,"y":880,"wires":[]},{"id":"e4ac5800.c3f908","type":"ui_dropdown","z":"b6d4772c.be7978","name":"","label":"","tooltip":"","place":"Select option","group":"d4417f9b.2d4ee","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Option 1 ","value":true,"type":"bool"},{"label":"Option 2","value":false,"type":"bool"}],"payload":"","topic":"","x":500,"y":940,"wires":[["76b4568f.713758"]]},{"id":"982e4fa4.ae84a","type":"ui_form","z":"b6d4772c.be7978","name":"","label":"Form","group":"d4417f9b.2d4ee","order":3,"width":0,"height":0,"options":[{"label":"Fill text","value":"text","type":"text","required":true},{"label":"Fill number","value":"number","type":"number","required":true}],"formValue":{"text":"","number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":490,"y":1000,"wires":[["cf49d660.9a0fe8"]]},{"id":"25e7356a.cb649a","type":"ui_ui_control","z":"b6d4772c.be7978","name":"","events":"all","x":680,"y":1060,"wires":[[]]},{"id":"f34a4c02.f5aa2","type":"inject","z":"b6d4772c.be7978","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":880,"wires":[["e1b497a6.3c5c38","e4ac5800.c3f908"]]},{"id":"76b4568f.713758","type":"ui_toast","z":"b6d4772c.be7978","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":700,"y":940,"wires":[]},{"id":"6eb1d5d3.18ff2c","type":"ui_button","z":"b6d4772c.be7978","name":"","group":"d4417f9b.2d4ee","order":5,"width":0,"height":0,"passthru":true,"label":"Button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"\"}","payloadType":"json","topic":"","x":490,"y":1060,"wires":[["25e7356a.cb649a"]]},{"id":"cf49d660.9a0fe8","type":"debug","z":"b6d4772c.be7978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":1000,"wires":[]},{"id":"3a0b2caa.f34364","type":"comment","z":"b6d4772c.be7978","name":"Please checkout the node help to know what these nodes do","info":"","x":360,"y":820,"wires":[]},{"id":"de13888e.ecc378","type":"inject","z":"b6d4772c.be7978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":300,"y":1120,"wires":[["74e504f0.1d4e0c"]]},{"id":"74e504f0.1d4e0c","type":"function","z":"b6d4772c.be7978","name":"JSON file","func":"msg.payload =\n{\n    Guess: {\n    \n        \"a\": Math.floor(Math.random() * (20)),\n        \"b\": Math.floor(Math.random() * (20)),\n        \"c\": Math.floor(Math.random() * (20)),\n        \"d\": Math.floor(Math.random() * (20)),\n        \"e\": Math.floor(Math.random() * (20)),\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":492.5,"y":1120,"wires":[["80330a56.0b7398","6249232d.dc668c"]]},{"id":"80330a56.0b7398","type":"debug","z":"b6d4772c.be7978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":1180,"wires":[]},{"id":"6249232d.dc668c","type":"ui_template","z":"b6d4772c.be7978","group":"","name":"","order":0,"width":"12","height":"4","format":"<table style=\"width:100%\">\n  <tr>\n    <th>column1</th> \n    <th>column2</th>\n    <th>column3</th> \n    <th>column4</th>\n    <th>column5</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:5\">\n    <td>{{msg.payload.prediction.a}}</td>\n    <td>{{msg.payload.prediction.b}}</td> \n    <td>{{msg.payload.prediction.c}}</td>\n    <td>{{msg.payload.prediction.d}}</td>\n    <td>{{msg.payload.prediction.e}}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":680,"y":1120,"wires":[[]]},{"id":"d4417f9b.2d4ee","type":"ui_group","z":"","name":"Group 1","tab":"da28dd7c.38dce","disp":true,"width":"6","collapse":false},{"id":"da28dd7c.38dce","type":"ui_tab","z":"b6d4772c.be7978","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]