Section 3/Video 3.2/3.2_flows2.json
[{"id":"de5ab5b5.72f518","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"280d6043.7e26","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"Butterscotch","payload":"Ice cream","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["664d63c0.42bd8c"]]},{"id":"5d354c9b.38c764","type":"debug","z":"de5ab5b5.72f518","name":"Output - complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":220,"wires":[]},{"id":"664d63c0.42bd8c","type":"function","z":"de5ab5b5.72f518","name":"Add and edit properties","func":"msg.toppings = \"Butterscotch nuts\";\nmsg.topic = \"Strawberry\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["5d354c9b.38c764"]]},{"id":"a4985697.5b0a08","type":"function","z":"de5ab5b5.72f518","name":"Define new msg object","func":"var newMsg = {payload: \"My favourite \"+msg.payload+\" flavor is \"+msg.topic};\nreturn newMsg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["5d354c9b.38c764"]]},{"id":"f6181862.f63688","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"Butterscotch","payload":"Ice cream","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["a4985697.5b0a08"]]},{"id":"1c511b05.860745","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"Butterscotch","payload":"Ice cream","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["151be6de.167709"]]},{"id":"151be6de.167709","type":"function","z":"de5ab5b5.72f518","name":"Write your own code","func":"var date = new Date();\nmsg.payload = \"I had \"+msg.topic+\" flavoured \"+msg.payload+\" on \"+date;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["5d354c9b.38c764"]]},{"id":"242c8f96.1e1cc","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["cac25260.e9934"]]},{"id":"cac25260.e9934","type":"function","z":"de5ab5b5.72f518","name":"Array of 3 msg objects with 1 output","func":"var msg1 = {payload: 1};\nvar msg2 = {payload: 2};\nvar msg3 = {payload: 3};\nreturn [msg1, msg2, msg3];","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["5d354c9b.38c764"]]},{"id":"72dadcdf.e89094","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["4c9bd44e.1b33bc"]]},{"id":"4c9bd44e.1b33bc","type":"function","z":"de5ab5b5.72f518","name":"Array of 3 msg objects with 3 outputs","func":"var msg1 = {payload: 1};\nvar msg2 = {payload: 2};\nvar msg3 = {payload: 3};\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":470,"y":440,"wires":[["5d354c9b.38c764"],["c139f1c3.c03c5"],["4e1d0eec.45b17"]]},{"id":"c139f1c3.c03c5","type":"debug","z":"de5ab5b5.72f518","name":"Output 2 - complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":320,"wires":[]},{"id":"4e1d0eec.45b17","type":"debug","z":"de5ab5b5.72f518","name":"Output 3 - complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":380,"wires":[]},{"id":"fe912f41.05184","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["47e730a2.ab11c"]]},{"id":"47e730a2.ab11c","type":"function","z":"de5ab5b5.72f518","name":"Array within array of 3 msg objects with 2 outputs","func":"var msg1 = {payload: 1};\nvar msg2 = {payload: 2};\nvar msg3 = {payload: 3};\nreturn [msg1, [msg2, msg3]];","outputs":2,"noerr":0,"x":510,"y":500,"wires":[["5d354c9b.38c764"],["c139f1c3.c03c5"]]},{"id":"2a4ad336.95618c","type":"function","z":"de5ab5b5.72f518","name":"Multiple outputs","func":"if (msg.topic === \"Butterscotch\") {\n   return [ msg, null ];\n} else {\n   var newMsg = {payload: msg.topic};\n   return [ null, newMsg ];\n}","outputs":2,"noerr":0,"x":400,"y":300,"wires":[["5d354c9b.38c764"],["c139f1c3.c03c5"]]},{"id":"a1dc14cb.5ad8b8","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"Butterscotch","payload":"Ice cream","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["2a4ad336.95618c"]]},{"id":"5a2fcbc2.df8464","type":"inject","z":"de5ab5b5.72f518","name":"","topic":"Strawberry","payload":"Ice cream","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["2a4ad336.95618c"]]}]