Section 3/Video 3.2/3.2_flows1.json
[{"id":"d59486d0.f25df8","type":"inject","z":"fee73c72.7862d","name":"Inject","topic":"Eat!","payload":"{\"payload\":\"Ice cream\",\"flavour\":\"Butterscotch\",\"toppings\":\"Butterscotch nuts\"}","payloadType":"json","repeat":"10","crontab":"","once":true,"onceDelay":"2","x":230,"y":160,"wires":[["3828803e.da1cb"]]},{"id":"f33051ab.dd6d7","type":"debug","z":"fee73c72.7862d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.toppings","targetType":"jsonata","x":630,"y":200,"wires":[]},{"id":"3828803e.da1cb","type":"function","z":"fee73c72.7862d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["f33051ab.dd6d7"]]}]