Section 4/Video 4.1/4.1_flows1.json
[{"id":"1efcfe92.15f0d1","type":"openweathermap in","z":"3db57b5d.4ed2f4","name":"","wtype":"current","lon":"","lat":"","city":"Chennai","country":"India","language":"en","x":280,"y":200,"wires":[["c30f5e26.45b2a","8c6a2eb9.3735b"]]},{"id":"c30f5e26.45b2a","type":"debug","z":"3db57b5d.4ed2f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":160,"wires":[]},{"id":"e4a6ceae.a705e","type":"openweathermap","z":"3db57b5d.4ed2f4","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":590,"y":300,"wires":[["c30f5e26.45b2a"]]},{"id":"fefeeb2f.abf6e8","type":"inject","z":"3db57b5d.4ed2f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["8af2a962.4e2fe8"]]},{"id":"8af2a962.4e2fe8","type":"change","z":"3db57b5d.4ed2f4","name":"","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"13.09","tot":"str"},{"t":"set","p":"location.lon","pt":"msg","to":"80.28","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["e4a6ceae.a705e"]]},{"id":"8c6a2eb9.3735b","type":"cloudant out","z":"3db57b5d.4ed2f4","name":"","cloudant":"","database":"weather_data","service":"lakr-dev-cloudantNoSQLDB","payonly":false,"operation":"insert","x":500,"y":120,"wires":[]}]