Section 4/Video 4.7/4.7_flows3.json
[{"id":"50d5ea70.c9b194","type":"comment","z":"a110c996.2b5f48","name":"Task 3","info":"","x":90,"y":780,"wires":[]},{"id":"2c7621fd.7b86de","type":"switch","z":"a110c996.2b5f48","name":"","property":"payload.weather","propertyType":"msg","rules":[{"t":"regex","v":"rain","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":840,"wires":[["770c3bd6.5b9a84"]]},{"id":"e2abb93c.2dee18","type":"link out","z":"a110c996.2b5f48","name":"","links":["7f4e9f63.a7734"],"x":455,"y":740,"wires":[]},{"id":"7f4e9f63.a7734","type":"link in","z":"a110c996.2b5f48","name":"","links":["e2abb93c.2dee18"],"x":95,"y":840,"wires":[["2c7621fd.7b86de"]]},{"id":"770c3bd6.5b9a84","type":"function","z":"a110c996.2b5f48","name":"Formatter","func":"msg.payload = \"The precipitation is \"+msg.payload.precipitation+\", so you might want to take an umbrella with you!\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":840,"wires":[["75ea76fb.dbc268","dd9097bf.102758","438479d8.ba14b8"]]},{"id":"75ea76fb.dbc268","type":"termux-tts-speak","z":"a110c996.2b5f48","name":"","topic":"","engine":"Google Text-to-speech Engine","language":"English","pitch":1,"rate":1,"stream":"NOTIFICATION","text":"","x":590,"y":820,"wires":[]},{"id":"dd9097bf.102758","type":"termux-notification","z":"a110c996.2b5f48","name":"","topic":"","nid":"","title":"Weather news!","content":"","action":false,"button1":"","button1close":false,"button2":"","button2close":false,"button3":"","button3close":false,"priority":"high","sound":true,"vibrate":"1000","x":590,"y":860,"wires":[[]]},{"id":"438479d8.ba14b8","type":"debug","z":"a110c996.2b5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":920,"wires":[]}]