Section 4/Video 4.7/4.7_flows1.json
[{"id":"6c2c1a7e.f83044","type":"darksky","z":"a110c996.2b5f48","darksky":"","name":"","lon":"80.28","lat":"13.09","date":"","time":"","mode":"node","lang":"en","units":"auto","x":580,"y":180,"wires":[["ef0ffc55.e3d1a","198da8e1.e84977","a5b73855.f872a8"]]},{"id":"ef0ffc55.e3d1a","type":"debug","z":"a110c996.2b5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":180,"wires":[]},{"id":"e6abdf92.bf793","type":"inject","z":"a110c996.2b5f48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["d2ec1195.d400b"]]},{"id":"d2ec1195.d400b","type":"change","z":"a110c996.2b5f48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["6c2c1a7e.f83044"]]},{"id":"7bee94da.7f919c","type":"termux-tts-speak","z":"a110c996.2b5f48","name":"","topic":"","engine":"Google Text-to-speech Engine","language":"English","pitch":1,"rate":1,"stream":"NOTIFICATION","text":"","x":830,"y":320,"wires":[]},{"id":"a304d5e1.6f1478","type":"termux-notification","z":"a110c996.2b5f48","name":"","topic":"","nid":"","title":"","content":"","action":false,"button1":"","button1close":false,"button2":"","button2close":false,"button3":"","button3close":false,"priority":"high","sound":true,"vibrate":"1000","x":830,"y":360,"wires":[[]]},{"id":"198da8e1.e84977","type":"change","z":"a110c996.2b5f48","name":"","rules":[{"t":"set","p":"weather","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["17196289.25a61d","af19024.87d14"]]},{"id":"17196289.25a61d","type":"ui_switch","z":"a110c996.2b5f48","name":"","label":"Weather news in audio","tooltip":"","group":"274c2181.e4190e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":320,"wires":[["3bae57d7.949f98"]]},{"id":"af19024.87d14","type":"ui_switch","z":"a110c996.2b5f48","name":"","label":"Weather news as notification","tooltip":"","group":"274c2181.e4190e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":360,"wires":[["22eaec1.c39a114"]]},{"id":"3bae57d7.949f98","type":"switch","z":"a110c996.2b5f48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":320,"wires":[["41fd6f17.d61fa"]]},{"id":"22eaec1.c39a114","type":"switch","z":"a110c996.2b5f48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":360,"wires":[["33519e5d.e01bc2"]]},{"id":"41fd6f17.d61fa","type":"change","z":"a110c996.2b5f48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"weather.detail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":320,"wires":[["7bee94da.7f919c"]]},{"id":"33519e5d.e01bc2","type":"change","z":"a110c996.2b5f48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"weather.detail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["a304d5e1.6f1478"]]},{"id":"66c17d2c.e59b94","type":"debug","z":"a110c996.2b5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":120,"wires":[]},{"id":"7d4f2f8b.2d70f","type":"ui_template","z":"a110c996.2b5f48","group":"274c2181.e4190e","name":"Current Weather information","order":0,"width":"0","height":"0","format":"<div align=\"center\">\n        <table style=\"width:100%\" border=\"1\">\n          \t<tr> \n        \t\t<th>Properties</th> \n        \t\t<th>Values</th>\n        \t</tr> \n        \t<tbody>\n            \t<tr>\n            \t\t<td>Weather</td>\n            \t\t<td>{{msg.payload.weather.weather}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Detail</td>\n            \t\t<td>{{msg.payload.weather.detail}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Time</td>\n            \t\t<td>{{msg.payload.weather.time}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Summary</td>\n            \t\t<td>{{msg.payload.weather.summary}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Nearest Storm Distance</td>\n            \t\t<td>{{msg.payload.weather.nearestStormDistance}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Precipitation Intensity</td>\n            \t\t<td>{{msg.payload.weather.precipIntensity}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Precipitation Probability</td>\n            \t\t<td>{{msg.payload.weather.precipProbability}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Temperature</td>\n            \t\t<td>{{msg.payload.weather.temperature}}*C</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Apparent temperature</td>\n            \t\t<td>{{msg.payload.weather.apparentTemperature}}*C</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Dew point</td>\n            \t\t<td>{{msg.payload.weather.dewPoint}}*C</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Humidity</td>\n            \t\t<td>{{msg.payload.weather.humidity}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Pressure</td>\n            \t\t<td>{{msg.payload.weather.pressure}} hPa</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Wind speed</td>\n            \t\t<td>{{msg.payload.weather.windSpeed}} m/s</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Wind gust</td>\n            \t\t<td>{{msg.payload.weather.windGust}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Wind bearing</td>\n            \t\t<td>{{msg.payload.weather.windBearing}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Cloud cover</td>\n            \t\t<td>{{msg.payload.weather.cloudCover}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>UV Index</td>\n            \t\t<td>{{msg.payload.weather.uvIndex}}</td>\n            \t</tr>\n            \t\n            \t<tr>\n            \t\t<td>Visibility</td>\n            \t\t<td>{{msg.payload.weather.visibility}}</td>\n            \t</tr>\n            \t\n            \t<tr>\n            \t\t<td>Ozone</td>\n            \t\t<td>{{msg.payload.weather.ozone}}</td>\n            \t</tr>\n            </tbody>\n        </table>\n    </div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":640,"y":60,"wires":[[]]},{"id":"a5b73855.f872a8","type":"function","z":"a110c996.2b5f48","name":"JSON format","func":"msg.payload =\n{\n    weather:{\n        \"weather\": msg.payload.weather,\n        \"detail\": msg.payload.detail,\n        \"time\": msg.data.currently.time,\n        \"summary\": msg.data.currently.summary,\n        \"nearestStormDistance\": msg.data.currently.nearestStormDistance,\n        \"precipIntensity\": msg.data.currently.precipIntensity,\n        \"precipProbability\": msg.data.currently.precipProbability,\n        \"temperature\": msg.data.currently.temperature,\n        \"apparentTemperature\": msg.data.currently.apparentTemperature,\n        \"dewPoint\": msg.data.currently.dewPoint,\n        \"humidity\": msg.data.currently.humidity,\n        \"pressure\": msg.data.currently.pressure,\n        \"windSpeed\": msg.data.currently.windSpeed,\n        \"windGust\": msg.data.currently.windGust,\n        \"windBearing\": msg.data.currently.windBearing,\n        \"cloudCover\": msg.data.currently.cloudCover,\n        \"uvIndex\": msg.data.currently.uvIndex,\n        \"visibility\": msg.data.currently.visibility,\n        \"ozone\": msg.data.currently.ozone,\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["7d4f2f8b.2d70f","66c17d2c.e59b94"]]},{"id":"b7bc42cd.ed1ee","type":"comment","z":"a110c996.2b5f48","name":"Task 1","info":"","x":90,"y":80,"wires":[]},{"id":"ed607da2.50709","type":"inject","z":"a110c996.2b5f48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["d2ec1195.d400b"]]},{"id":"274c2181.e4190e","type":"ui_group","z":"","name":"Task 1 - Android Weather Station","tab":"ca440efa.7e85e","disp":true,"width":"20","collapse":false},{"id":"ca440efa.7e85e","type":"ui_tab","z":"","name":"Android Weather Station","icon":"dashboard","disabled":false,"hidden":false}]