Section 4/Video 4.7/4.7_flows2.json
[{"id":"3030476.23642b8","type":"comment","z":"a110c996.2b5f48","name":"Task 2","info":"","x":90,"y":460,"wires":[]},{"id":"a0f31e72.07e4d","type":"switch","z":"a110c996.2b5f48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":520,"wires":[["77e0b811.81fd88"]]},{"id":"c80055f.d41d0a8","type":"termux-toast","z":"a110c996.2b5f48","name":"","topic":"","short":false,"x":690,"y":700,"wires":[]},{"id":"731c6dbf.6b24e4","type":"darksky","z":"a110c996.2b5f48","darksky":"","name":"","lon":"","lat":"","date":"","time":"","mode":"message","lang":"en","units":"auto","x":340,"y":580,"wires":[["635a200b.a5d49","4525a21d.58383c","46b060c.e91c2a","e2abb93c.2dee18"]]},{"id":"77e0b811.81fd88","type":"termux-location","z":"a110c996.2b5f48","name":"","topic":"","provider":"network","request":"once","x":520,"y":520,"wires":[["113e3c2c.749984"]]},{"id":"113e3c2c.749984","type":"change","z":"a110c996.2b5f48","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"set","p":"location.lat","pt":"msg","to":"payload.latitude","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"payload.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[["731c6dbf.6b24e4"]]},{"id":"635a200b.a5d49","type":"debug","z":"a110c996.2b5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":580,"wires":[]},{"id":"e0461f24.642e3","type":"termux-tts-speak","z":"a110c996.2b5f48","name":"","topic":"","engine":"Google Text-to-speech Engine","language":"English","pitch":1,"rate":1,"stream":"NOTIFICATION","text":"","x":710,"y":660,"wires":[]},{"id":"ab2d3650.b76458","type":"ui_button","z":"a110c996.2b5f48","name":"","group":"56db88d2.bf2718","order":1,"width":0,"height":0,"passthru":false,"label":"Current Weather Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":520,"wires":[["a0f31e72.07e4d"]]},{"id":"4525a21d.58383c","type":"function","z":"a110c996.2b5f48","name":"JSON format","func":"msg.payload =\n{\n    weather:{\n        \"weather\": msg.payload.weather,\n        \"detail\": msg.payload.detail,\n        \"time\": msg.data.currently.time,\n        \"summary\": msg.data.currently.summary,\n        \"nearestStormDistance\": msg.data.currently.nearestStormDistance,\n        \"precipIntensity\": msg.data.currently.precipIntensity,\n        \"precipProbability\": msg.data.currently.precipProbability,\n        \"temperature\": msg.data.currently.temperature,\n        \"apparentTemperature\": msg.data.currently.apparentTemperature,\n        \"dewPoint\": msg.data.currently.dewPoint,\n        \"humidity\": msg.data.currently.humidity,\n        \"pressure\": msg.data.currently.pressure,\n        \"windSpeed\": msg.data.currently.windSpeed,\n        \"windGust\": msg.data.currently.windGust,\n        \"windBearing\": msg.data.currently.windBearing,\n        \"cloudCover\": msg.data.currently.cloudCover,\n        \"uvIndex\": msg.data.currently.uvIndex,\n        \"visibility\": msg.data.currently.visibility,\n        \"ozone\": msg.data.currently.ozone,\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["44b86756.1c4fa8"]]},{"id":"44b86756.1c4fa8","type":"ui_template","z":"a110c996.2b5f48","group":"56db88d2.bf2718","name":"Current Weather information","order":0,"width":"0","height":"0","format":"<div align=\"center\">\n        <table style=\"width:100%\" border=\"1\">\n          \t<tr> \n        \t\t<th>Properties</th> \n        \t\t<th>Values</th>\n        \t</tr> \n        \t<tbody>\n        \t    <tr>\n            \t\t<td>Weather</td>\n            \t\t<td>{{msg.payload.weather.weather}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Detail</td>\n            \t\t<td>{{msg.payload.weather.detail}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Time</td>\n            \t\t<td>{{msg.payload.weather.time}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Summary</td>\n            \t\t<td>{{msg.payload.weather.summary}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Nearest Storm Distance</td>\n            \t\t<td>{{msg.payload.weather.nearestStormDistance}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Precipitation Intensity</td>\n            \t\t<td>{{msg.payload.weather.precipIntensity}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Precipitation Probability</td>\n            \t\t<td>{{msg.payload.weather.precipProbability}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Temperature</td>\n            \t\t<td>{{msg.payload.weather.temperature}}*C</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Apparent temperature</td>\n            \t\t<td>{{msg.payload.weather.apparentTemperature}}*C</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Dew point</td>\n            \t\t<td>{{msg.payload.weather.dewPoint}}*C</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Humidity</td>\n            \t\t<td>{{msg.payload.weather.humidity}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Pressure</td>\n            \t\t<td>{{msg.payload.weather.pressure}} hPa</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Wind speed</td>\n            \t\t<td>{{msg.payload.weather.windSpeed}} m/s</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Wind gust</td>\n            \t\t<td>{{msg.payload.weather.windGust}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Wind bearing</td>\n            \t\t<td>{{msg.payload.weather.windBearing}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>Cloud cover</td>\n            \t\t<td>{{msg.payload.weather.cloudCover}}</td>\n            \t</tr>\n            \t<tr>\n            \t\t<td>UV Index</td>\n            \t\t<td>{{msg.payload.weather.uvIndex}}</td>\n            \t</tr>\n            \t\n            \t<tr>\n            \t\t<td>Visibility</td>\n            \t\t<td>{{msg.payload.weather.visibility}}</td>\n            \t</tr>\n            \t\n            \t<tr>\n            \t\t<td>Ozone</td>\n            \t\t<td>{{msg.payload.weather.ozone}}</td>\n            \t</tr>\n            </tbody>\n        </table>\n    </div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":720,"y":620,"wires":[[]]},{"id":"46b060c.e91c2a","type":"change","z":"a110c996.2b5f48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.detail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["c80055f.d41d0a8","e0461f24.642e3"]]},{"id":"56db88d2.bf2718","type":"ui_group","z":"","name":"Task 2 - Current Weather Information","tab":"ca440efa.7e85e","disp":true,"width":"20","collapse":false},{"id":"ca440efa.7e85e","type":"ui_tab","z":"","name":"Android Weather Station","icon":"dashboard","disabled":false,"hidden":false}]