Section 4/Video 4.3/4.3_flows2.json
[{"id":"42bc27a4.e784b8","type":"exec","z":"ede4d9af.4e7ae8","command":"python ~/Adafruit_Python_DHT/examples/simpletest.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":2340,"wires":[["ea01ae0a.3f36e","4a6cee1c.3d968"],[],[]]},{"id":"ada96244.5356a","type":"inject","z":"ede4d9af.4e7ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2320,"wires":[["42bc27a4.e784b8","18842262.071e9e"]]},{"id":"ea01ae0a.3f36e","type":"debug","z":"ede4d9af.4e7ae8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":2320,"wires":[]}]