Section 4/Video 4.3/4.3_flows3.json
[{"id":"42bc27a4.e784b8","type":"exec","z":"ede4d9af.4e7ae8","command":"python ~/Adafruit_Python_DHT/examples/simpletest.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":2340,"wires":[["ea01ae0a.3f36e","4a6cee1c.3d968"],[],[]]},{"id":"ada96244.5356a","type":"inject","z":"ede4d9af.4e7ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2320,"wires":[["42bc27a4.e784b8","18842262.071e9e"]]},{"id":"ea01ae0a.3f36e","type":"debug","z":"ede4d9af.4e7ae8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":2320,"wires":[]},{"id":"4a6cee1c.3d968","type":"function","z":"ede4d9af.4e7ae8","name":"Splitting temp and hum","func":"msg.temp = msg.payload.split(',')[0];\nmsg.hum = msg.payload.split(',')[1];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2460,"wires":[["151c9d6b.cdfe13","1d973086.b1415f","8c74c16a.1f9be","9607fefb.a2116","841ffc52.66646"]]},{"id":"151c9d6b.cdfe13","type":"switch","z":"ede4d9af.4e7ae8","name":"temp>25.0*C","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"25.0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":2440,"wires":[["eeccc5cc.a00bf8"]]},{"id":"1d973086.b1415f","type":"switch","z":"ede4d9af.4e7ae8","name":"hum<10%","property":"hum","propertyType":"msg","rules":[{"t":"lt","v":"10.0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2480,"wires":[["32cd6383.fb114c"]]},{"id":"eeccc5cc.a00bf8","type":"twitter out","z":"ede4d9af.4e7ae8","twitter":"","name":"Tweet","x":610,"y":2440,"wires":[]},{"id":"32cd6383.fb114c","type":"e-mail","z":"ede4d9af.4e7ae8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"lakshana3r@gmail.com","dname":"","x":670,"y":2480,"wires":[]}]