Section 4/Video 4.3/4.3_flows5-exec-vs-spawn.json
[{"id":"839a5204.8ac3f","type":"inject","z":"e2cefc44.84fe5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1320,"wires":[["abaed3d6.e8e1d"]]},{"id":"c37ee9c1.82b888","type":"debug","z":"e2cefc44.84fe5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1300,"wires":[]},{"id":"abaed3d6.e8e1d","type":"exec","z":"e2cefc44.84fe5","command":"python /home/pi/exec-vs-spawn-test.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec mode","x":550,"y":1320,"wires":[["c37ee9c1.82b888"],[],[]]},{"id":"b9053160.35772","type":"inject","z":"e2cefc44.84fe5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1420,"wires":[["2a864593.d6e71a"]]},{"id":"5a03b3ee.4eea5c","type":"debug","z":"e2cefc44.84fe5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1400,"wires":[]},{"id":"2a864593.d6e71a","type":"exec","z":"e2cefc44.84fe5","command":"python /home/pi/exec-vs-spawn-test.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Spawn mode","x":550,"y":1420,"wires":[["5a03b3ee.4eea5c"],[],[]]}]