Section 4/Video 4.4/4.4_flows3.json
[{"id":"42bc27a4.e784b8","type":"exec","z":"ede4d9af.4e7ae8","command":"python ~/Adafruit_Python_DHT/examples/simpletest.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":2340,"wires":[["ea01ae0a.3f36e","4a6cee1c.3d968"],[],[]]},{"id":"ada96244.5356a","type":"inject","z":"ede4d9af.4e7ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2320,"wires":[["42bc27a4.e784b8","18842262.071e9e"]]},{"id":"ea01ae0a.3f36e","type":"debug","z":"ede4d9af.4e7ae8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":2320,"wires":[]},{"id":"4a6cee1c.3d968","type":"function","z":"ede4d9af.4e7ae8","name":"Splitting temp and hum","func":"msg.temp = msg.payload.split(',')[0];\nmsg.hum = msg.payload.split(',')[1];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2460,"wires":[["151c9d6b.cdfe13","1d973086.b1415f","8c74c16a.1f9be","9607fefb.a2116","841ffc52.66646"]]},{"id":"151c9d6b.cdfe13","type":"switch","z":"ede4d9af.4e7ae8","name":"temp>25.0*C","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"25.0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":2440,"wires":[["eeccc5cc.a00bf8"]]},{"id":"1d973086.b1415f","type":"switch","z":"ede4d9af.4e7ae8","name":"hum<10%","property":"hum","propertyType":"msg","rules":[{"t":"lt","v":"10.0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2480,"wires":[["32cd6383.fb114c"]]},{"id":"eeccc5cc.a00bf8","type":"twitter out","z":"ede4d9af.4e7ae8","twitter":"","name":"Tweet","x":610,"y":2440,"wires":[]},{"id":"32cd6383.fb114c","type":"e-mail","z":"ede4d9af.4e7ae8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"lakshana3r@gmail.com","dname":"","x":670,"y":2480,"wires":[]},{"id":"8c74c16a.1f9be","type":"function","z":"ede4d9af.4e7ae8","name":"temp>25.0*C & hum>10%","func":"if(msg.temp>25.0 && msg.hum>10.0){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":460,"y":2520,"wires":[["d1769147.da335"]]},{"id":"d1769147.da335","type":"mqtt out","z":"ede4d9af.4e7ae8","name":"","topic":"data/temp_hum","qos":"0","retain":"false","broker":"59bd39df.188c78","x":690,"y":2520,"wires":[]},{"id":"3aed16d0.a3e38a","type":"ui_chart","z":"ede4d9af.4e7ae8","name":"","group":"4a5bd857.6e1e88","order":0,"width":0,"height":0,"label":"Temperature in *C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":2580,"wires":[[]]},{"id":"841ffc52.66646","type":"change","z":"ede4d9af.4e7ae8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":2580,"wires":[["3aed16d0.a3e38a"]]},{"id":"9607fefb.a2116","type":"ui_gauge","z":"ede4d9af.4e7ae8","name":"","group":"3816d696.b7a04a","order":0,"width":0,"height":0,"gtype":"compass","title":"Humidity in %","label":"%","format":"{{msg.hum}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":230,"y":2640,"wires":[]},{"id":"59bd39df.188c78","type":"mqtt-broker","z":"","name":"Broker1","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a5bd857.6e1e88","type":"ui_group","z":"","name":"DHT11 Temperature","tab":"38baec37.76ff64","disp":true,"width":"9","collapse":false},{"id":"3816d696.b7a04a","type":"ui_group","z":"","name":"DHT11 Humidity","tab":"38baec37.76ff64","disp":true,"width":"9","collapse":false},{"id":"38baec37.76ff64","type":"ui_tab","z":"","name":"Weather Station","icon":"dashboard","disabled":true,"hidden":false}]