Section 4/Video 4.4/4.4_flows4.json
[{"id":"a36b0ab4.2c1ce8","type":"mqtt in","z":"ee4f62a3.14ac1","name":"","topic":"data/temp_hum","qos":"0","datatype":"auto","broker":"19fea66c.71909a","x":360,"y":240,"wires":[["393b4666.476b1a","343a70df.a2038"]]},{"id":"393b4666.476b1a","type":"debug","z":"ee4f62a3.14ac1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"626a05f1.119dfc","type":"ui_chart","z":"ee4f62a3.14ac1","name":"","group":"819dbbe2.51f5c8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":180,"wires":[[]]},{"id":"343a70df.a2038","type":"function","z":"ee4f62a3.14ac1","name":"Chart formatter","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = msg.payload.split(',')[0];//temp\nmsg1.topic = \"Temperature in *C\";\n\nmsg2.payload = msg.payload.split(',')[1];//hum\nmsg2.topic = \"Humidity in %\";\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":520,"y":180,"wires":[["626a05f1.119dfc"],["626a05f1.119dfc"]]},{"id":"19fea66c.71909a","type":"mqtt-broker","z":"","name":"Broker1","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"819dbbe2.51f5c8","type":"ui_group","z":"","name":"DHT11 Temperature Humidity","tab":"688aecf0.81aad4","disp":true,"width":"9","collapse":false},{"id":"688aecf0.81aad4","type":"ui_tab","z":"","name":"Weather Station","icon":"dashboard","disabled":false,"hidden":false}]