Section 4/Video 4.8/4.8_flows1.json
[{"id":"bc6d4bb6.09c378","type":"http in","z":"d323323c.82efb","name":"","url":"/slack","method":"post","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["9cc2ae95.dc2d6","5c090fc6.7c8da"]]},{"id":"6a13f60b.515c18","type":"http response","z":"d323323c.82efb","name":"","statusCode":"","headers":{},"x":950,"y":200,"wires":[]},{"id":"9cc2ae95.dc2d6","type":"debug","z":"d323323c.82efb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":260,"wires":[]},{"id":"63812c0c.eb9d84","type":"watson-conversation-v1","z":"d323323c.82efb","name":"","workspaceid":"facab59e-14ca-493a-b46f-627663826a6c","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":320,"y":100,"wires":[["12548d77.429a83","ca6f8ece.d7c6c"]]},{"id":"5c090fc6.7c8da","type":"change","z":"d323323c.82efb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["63812c0c.eb9d84"]]},{"id":"12548d77.429a83","type":"debug","z":"d323323c.82efb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":80,"wires":[]},{"id":"431366dd.9488e8","type":"change","z":"d323323c.82efb","name":"","rules":[{"t":"set","p":"location.city","pt":"msg","to":"payload.entities[0].value","tot":"msg"},{"t":"set","p":"location.country","pt":"msg","to":"payload.entities[1].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["8ce617a5.e01d68"]]},{"id":"8ce617a5.e01d68","type":"openweathermap","z":"d323323c.82efb","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":810,"y":280,"wires":[["4b1b94fd.0bb08c"]]},{"id":"4b1b94fd.0bb08c","type":"change","z":"d323323c.82efb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":200,"wires":[["6a13f60b.515c18"]]},{"id":"ca6f8ece.d7c6c","type":"switch","z":"d323323c.82efb","name":"","property":"payload.entities.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":200,"wires":[["52ee2d37.1352b4"],["431366dd.9488e8"]]},{"id":"52ee2d37.1352b4","type":"openweathermap","z":"d323323c.82efb","name":"","wtype":"current","lon":"","lat":"","city":"Chennai","country":"India","language":"en","x":610,"y":160,"wires":[["4b1b94fd.0bb08c"]]}]