Section 3/Video 3.3/3.3_flows1.json
[{"id":"70bd6081.e630a","type":"inject","z":"62b14caa.0a37b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":140,"wires":[["d095789f.ccbeb8"]]},{"id":"e4b8753.f5de288","type":"debug","z":"62b14caa.0a37b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":140,"wires":[]},{"id":"d095789f.ccbeb8","type":"function","z":"62b14caa.0a37b4","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nglobal.set('poll', count);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["e4b8753.f5de288"]]},{"id":"65e79ee9.250bc","type":"inject","z":"62b14caa.0a37b4","name":"","topic":"","payload":"poll","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":80,"wires":[["e4b8753.f5de288"]]}]