Section 3/Video 3.3/3.3_flows3-change node example.json
[{"id":"7ab2cbe0.3ff494","type":"inject","z":"dd7d7901.841518","name":"","topic":"","payload":"data","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":3440,"wires":[["a4525535.a21218","28334306.9d77ec","187a8ce2.2b5b73","9d58c95a.84e468"]]},{"id":"4443b3b9.11651c","type":"debug","z":"dd7d7901.841518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":3440,"wires":[]},{"id":"a4525535.a21218","type":"change","z":"dd7d7901.841518","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":3440,"wires":[["4443b3b9.11651c"]]},{"id":"28334306.9d77ec","type":"change","z":"dd7d7901.841518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"data","fromt":"str","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3480,"wires":[["12352c5c.d03814"]]},{"id":"187a8ce2.2b5b73","type":"change","z":"dd7d7901.841518","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3520,"wires":[["56f4f3db.f9ad6c"]]},{"id":"9d58c95a.84e468","type":"change","z":"dd7d7901.841518","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3560,"wires":[["f5003963.8e88e8"]]},{"id":"12352c5c.d03814","type":"debug","z":"dd7d7901.841518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":3480,"wires":[]},{"id":"56f4f3db.f9ad6c","type":"debug","z":"dd7d7901.841518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":3520,"wires":[]},{"id":"f5003963.8e88e8","type":"debug","z":"dd7d7901.841518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":3560,"wires":[]}]