Section 3/Video 3.3/3.3_flows2.json
[{"id":"a95f2655.7c1db8","type":"function","z":"62b14caa.0a37b4","name":"Incrementer","func":"msg.payload = msg.payload+1;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["154dc9a5.570c76"]]},{"id":"154dc9a5.570c76","type":"switch","z":"62b14caa.0a37b4","name":"Checking conditions","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"count","vt":"flow"},{"t":"gte","v":"count","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":320,"wires":[["a95f2655.7c1db8","52acc09d.0e8fb"],["c64a62.d82e05a"]]},{"id":"c3e75715.5ae2f8","type":"change","z":"62b14caa.0a37b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"count","pt":"flow","to":"poll","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["154dc9a5.570c76"]]},{"id":"1b147b91.b80eb4","type":"inject","z":"62b14caa.0a37b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["c3e75715.5ae2f8"]]},{"id":"7882b7a.e0beb48","type":"debug","z":"62b14caa.0a37b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":320,"wires":[]},{"id":"52acc09d.0e8fb","type":"template","z":"62b14caa.0a37b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Count: {{payload}} ","output":"str","x":770,"y":280,"wires":[["7882b7a.e0beb48"]]},{"id":"c64a62.d82e05a","type":"template","z":"62b14caa.0a37b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Count: {{payload}} ","output":"str","x":770,"y":360,"wires":[["7882b7a.e0beb48"]]}]