Section 3/Video 3.3/3.3_flows4-template node example.json
[{"id":"34ec6777.4c52a8","type":"template","z":"dd7d7901.841518","name":"Variables","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} {{name}}!","output":"str","x":640,"y":3760,"wires":[["b89ef5d2.436fc8"]]},{"id":"b89ef5d2.436fc8","type":"debug","z":"dd7d7901.841518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":3760,"wires":[]},{"id":"fb44beee.718ff","type":"inject","z":"dd7d7901.841518","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":3760,"wires":[["7bad902c.99963"]]},{"id":"7bad902c.99963","type":"change","z":"dd7d7901.841518","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"Lakshana","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3760,"wires":[["34ec6777.4c52a8"]]},{"id":"a61c8e97.8be8","type":"inject","z":"dd7d7901.841518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":3820,"wires":[["552a9bae.0bfb24"]]},{"id":"3f3b1c0d.8344d4","type":"template","z":"dd7d7901.841518","name":"Non-Empty Lists and Inverted sections","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.ice_cream}}\n  <b>{{name}}</b>\n{{/payload.ice_cream}}\n{{^payload.ice_cream}}\n  No ice creams :(\n{{/payload.ice_cream}}\n","output":"str","x":770,"y":3820,"wires":[["b89ef5d2.436fc8"]]},{"id":"552a9bae.0bfb24","type":"function","z":"dd7d7901.841518","name":"Adding objects in an array","func":"msg.payload = {\n    ice_cream:[\n        {name:\"Rolled ice cream\"},\n        {name:\"Soft serve\"},\n        {name:\"Sorbet\"}\n    ]\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":3820,"wires":[["3f3b1c0d.8344d4"]]},{"id":"e9f731e2.a88cf","type":"function","z":"dd7d7901.841518","name":"Empty array","func":"msg.payload = {\n    ice_cream:[]\n};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":3860,"wires":[["3f3b1c0d.8344d4"]]},{"id":"29fad691.c250ea","type":"inject","z":"dd7d7901.841518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":3860,"wires":[["e9f731e2.a88cf"]]}]