Section 3/Video 3.7/3.7_flows2.json
[{"id":"aab0840f.e522d8","type":"inject","z":"e5a47c20.01d1b","name":"","topic":"","payload":"{\"_id\":\"93892ebcbe79106d9a79a3eb36d7ee61\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":540,"wires":[["b53f2eea.bd1c3"]]},{"id":"b53f2eea.bd1c3","type":"cloudant in","z":"e5a47c20.01d1b","name":"","cloudant":"","database":"lakr-db","service":"lakr-dev-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":530,"y":540,"wires":[["ec1157f.93941a8"]]},{"id":"ce09cd98.cee24","type":"cloudant out","z":"e5a47c20.01d1b","name":"","cloudant":"","database":"lakr-db","service":"lakr-dev-cloudantNoSQLDB","payonly":true,"operation":"insert","x":830,"y":560,"wires":[]},{"id":"ec1157f.93941a8","type":"change","z":"e5a47c20.01d1b","name":"","rules":[{"t":"set","p":"payload.state","pt":"msg","to":"Satiated!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":500,"wires":[["ce09cd98.cee24"]]}]