Section 3/Video 3.7/3.7_flows7-other cos nodes example.json
[{"id":"bd0244a5.736538","type":"cos-get","z":"e5a47c20.01d1b","name":"","bucket":"lakr-bucket","objectname":"lak1.png","mode":"1","filepath":"","filename":"","geturl":false,"cosconfig":"1952f095.8de9af","x":490,"y":760,"wires":[["ca6dce8d.ded2b"]]},{"id":"7899bc49.738f14","type":"cos-del","z":"e5a47c20.01d1b","name":"","bucket":"lakr-bucket","objectname":"lak1.png","cosconfig":"1952f095.8de9af","x":490,"y":880,"wires":[["3b2c089c.5fab48"]]},{"id":"48218fa3.63597","type":"cos-qry","z":"e5a47c20.01d1b","name":"","list":"1","bucket":"lakr-bucket","maxkeys":50,"cosconfig":"1952f095.8de9af","x":490,"y":820,"wires":[["3b2c089c.5fab48"]]},{"id":"f9a76e3f.42165","type":"inject","z":"e5a47c20.01d1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":760,"wires":[["bd0244a5.736538"]]},{"id":"ca6dce8d.ded2b","type":"image","z":"e5a47c20.01d1b","name":"","width":160,"x":780,"y":760,"wires":[]},{"id":"1dd480f4.48b74f","type":"comment","z":"e5a47c20.01d1b","name":"Click here and see the Description tab in the Info panel","info":"Install node-red-contrib-image-output from the manage palette to view the output as image.","x":840,"y":720,"wires":[]},{"id":"4423cde2.05d9e4","type":"inject","z":"e5a47c20.01d1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["48218fa3.63597"]]},{"id":"3b2c089c.5fab48","type":"debug","z":"e5a47c20.01d1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":820,"wires":[]},{"id":"338d14c0.e4439c","type":"inject","z":"e5a47c20.01d1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":880,"wires":[["7899bc49.738f14"]]},{"id":"1952f095.8de9af","type":"cos-config","z":"","apiKeyId":"U1p-9eXuy8wfxAeCCp1uajbxSOXNFHed1A8I7VIf2HLQ","location":"ap-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.ap-geo.objectstorage.softlayer.net","serviceInstanceId":"3e6768bd-2397-43ef-9e6c-9771833d126c","hmac":false,"accesskeyid":"","accesskey":"","name":"lakr-bucket"}]