Section 3/Video 3.7/3.7_flows5 inject nodes.json
[{"id":"1513d3e9.f93d3c","type":"inject","z":"ede4d9af.4e7ae8","name":"CREATE","topic":"CREATE TABLE Employees(id INTEGER PRIMARY KEY AUTOINCREMENT, Name TEXT, Employee_ID NUMERIC)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":180,"wires":[["749679f2.ad47e8"]]},{"id":"7925d031.c77","type":"inject","z":"ede4d9af.4e7ae8","name":"INSERT","topic":"INSERT INTO Employees(Name, Employee_ID) values(\"Lakshana\", 15)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":220,"wires":[["749679f2.ad47e8"]]},{"id":"135d5aff.c380e5","type":"inject","z":"ede4d9af.4e7ae8","name":"SELECT","topic":"SELECT * FROM Employees","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":260,"wires":[["749679f2.ad47e8"]]},{"id":"3ad0cca2.1615d4","type":"inject","z":"ede4d9af.4e7ae8","name":"DELETE","topic":"DELETE from Employees","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":300,"wires":[["749679f2.ad47e8"]]}]