Section 3/Video 3.7/3.7_flows8-microphone node.json
[{"id":"90397fc6.fe835","type":"cos-get","z":"e5a47c20.01d1b","name":"","bucket":"lakr-bucket","objectname":"lak1.wav","mode":"1","filepath":"","filename":"","geturl":false,"cosconfig":"1952f095.8de9af","x":470,"y":1020,"wires":[["a2195d38.30d1b"]]},{"id":"dbe3bd0d.2735b","type":"inject","z":"e5a47c20.01d1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1020,"wires":[["90397fc6.fe835"]]},{"id":"a2195d38.30d1b","type":"ui_audio","z":"e5a47c20.01d1b","name":"","group":"b959a2f7.4e215","voice":"en-US","always":true,"x":720,"y":1020,"wires":[]},{"id":"7f35d411.60428c","type":"microphone","z":"e5a47c20.01d1b","name":"","x":230,"y":960,"wires":[["fac3e6fb.eb0dc8"]]},{"id":"fac3e6fb.eb0dc8","type":"cos-put","z":"e5a47c20.01d1b","name":"","bucket":"lakr-bucket","create":"0","objectname":"lak1.wav","mode":"1","filepath":"","filename":"","contentType":"audio/x-wav","geturl":false,"cosconfig":"1952f095.8de9af","x":470,"y":960,"wires":[["5c4c13b4.187b1c"]]},{"id":"5c4c13b4.187b1c","type":"debug","z":"e5a47c20.01d1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":960,"wires":[]},{"id":"1952f095.8de9af","type":"cos-config","z":"","apiKeyId":"U1p-9eXuy8wfxAeCCp1uajbxSOXNFHed1A8I7VIf2HLQ","location":"ap-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.ap-geo.objectstorage.softlayer.net","serviceInstanceId":"3e6768bd-2397-43ef-9e6c-9771833d126c","hmac":false,"accesskeyid":"","accesskey":"","name":"lakr-bucket"},{"id":"b959a2f7.4e215","type":"ui_group","z":"","name":"Group1","tab":"6435e059.ee139","disp":true,"width":"6","collapse":true},{"id":"6435e059.ee139","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]