Section 4/Video 4.2/4.2_flows3.json
[{"id":"8d772941.8d9f38","type":"inject","z":"3cb49651.e89c0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":100,"wires":[["1518c76e.63bcc9"]]},{"id":"2ed3d53e.f191fa","type":"debug","z":"3cb49651.e89c0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":100,"wires":[]},{"id":"1518c76e.63bcc9","type":"http request","z":"3cb49651.e89c0a","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={YOUR API KEY}","tls":"","proxy":"","authType":"basic","x":500,"y":100,"wires":[["2ed3d53e.f191fa"]]}]
