Section 4/Video 4.2/4.2_flows2.json
[{"id":"3df9e566.c280ca","type":"http request","z":"1f5fa83d.ee33e8","name":"Forecast Request","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.darksky.net/forecast/ed100da45f6ff703315416caf330451b/13.09,80.28?units=si&lang=ta","tls":"","proxy":"","authType":"basic","x":370,"y":320,"wires":[["3ad58256.78084e"]]},{"id":"ecdd8d6b.20727","type":"http in","z":"1f5fa83d.ee33e8","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":170,"y":320,"wires":[["3df9e566.c280ca"]]},{"id":"7f2f8d5c.97ec64","type":"http response","z":"1f5fa83d.ee33e8","name":"","statusCode":"","headers":{},"x":930,"y":320,"wires":[]},{"id":"6f2369fa.331ce8","type":"template","z":"1f5fa83d.ee33e8","name":"Template for weather station website","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<style>\n\t\t\t#h01{\n\t\t\t\tfont-family: garamond;\n\t\t\t\tfont-size: 300%;\n\t\t\t\ttext-align: center;\n\t\t\t\tbackground-color: #f6cf16;\n                color: white;\n\t\t\t\tpadding: 8px;\n\t\t\t}\n\t\t\ttable, th, td{\n\t\t\t    \n\t\t\t    border-bottom: 1px solid #ddd;\n\t\t\t\tcolor: #1374ba;\n\t\t\t    font-family: verdana;\n\t\t\t\tfont-size: 100%;\n\t\t\t\ttext-align: left;\n\t\t\t\tpadding: 8px;\n\t\t\t}\n\t\t\tth{\n\t\t\t    font-size: 150%;\n                background-color: #1374ba;\n                color: white;\n\t\t\t}\n\t\t\ttr:hover {background-color:#f5f5f5;}\n\t\t</style>\n\t\t<h1 id=\"h01\">Weather Station</h1>\n\t</head>\n\t<body>\n\t    <div align=\"center\">\n\t        <table> \n    \t\t\t<tr> \n    \t\t\t\t<th>Properties</th> \n    \t\t\t\t<th>Values</th>\n    \t\t\t</tr> \n    \t\t\t<tr> \n    \t\t\t\t<td>Latitude</td>\n    \t\t\t\t<td>{{payload.latitude}}*</td> \n    \t\t\t</tr>\t\t\t\n    \t\t\t<tr>\n    \t\t\t\t<td>Longitude</td>\n    \t\t\t\t<td>{{payload.longitude}}*</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Timezone</td>\n    \t\t\t\t<td>{{payload.timezone}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Time</td>\n    \t\t\t\t<td>{{payload.currently.time}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Summary</td>\n    \t\t\t\t<td>{{payload.currently.summary}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Icon</td>\n    \t\t\t\t<td>{{payload.currently.icon}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Precipitation Intensity</td>\n    \t\t\t\t<td>{{payload.currently.precipIntensity}} mm/hr</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Precipitation Probability</td>\n    \t\t\t\t<td>{{payload.currently.precipProbability}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Temperature</td>\n    \t\t\t\t<td>{{payload.currently.temperature}}*C</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Apparent Temperature</td>\n    \t\t\t\t<td>{{payload.currently.apparentTemperature}}*C</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Dew point</td>\n    \t\t\t\t<td>{{payload.currently.dewPoint}}*C</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Humidity</td>\n    \t\t\t\t<td>{{payload.currently.humidity}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Pressure</td>\n    \t\t\t\t<td>{{payload.currently.pressure}} hPa</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Wind speed</td>\n    \t\t\t\t<td>{{payload.currently.windSpeed}} m/s</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Wind gust</td>\n    \t\t\t\t<td>{{payload.currently.windGust}} m/s</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Wind bearing</td>\n    \t\t\t\t<td>{{payload.currently.windBearing}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Cloud cover</td>\n    \t\t\t\t<td>{{payload.currently.cloudCover}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>UV Index</td>\n    \t\t\t\t<td>{{payload.currently.uvIndex}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Visibility</td>\n    \t\t\t\t<td>{{payload.currently.visibility}} Km</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Ozone</td>\n    \t\t\t\t<td>{{payload.currently.ozone}}</td>\n    \t\t\t</tr>\n    \t\t</table>\n\t    </div>\n\t</body>\n</html>\n\n","output":"str","x":690,"y":320,"wires":[["7f2f8d5c.97ec64"]]},{"id":"3ad58256.78084e","type":"function","z":"1f5fa83d.ee33e8","name":"String conversion","func":"msg.payload.currently.time = msg.payload.currently.time+\"\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["861269a8.433f88"]]},{"id":"f3ca929e.2683c","type":"comment","z":"1f5fa83d.ee33e8","name":"Click me and check info tab description!","info":"Install moment node from the manage palette","x":490,"y":420,"wires":[]},{"id":"861269a8.433f88","type":"moment","z":"1f5fa83d.ee33e8","name":"Format date and time","topic":"","input":"payload.currently.time","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD-MMM-YYYY HH:mm:ss","locale":"en_IN","output":"payload.currently.time","outputType":"msg","outTz":"Asia/Calcutta","x":600,"y":380,"wires":[["6f2369fa.331ce8"]]}]