Section 4/Video 4.2/4.2_flows4-task2.json
[{"id":"626fda7d.a65cd4","type":"ui_text_input","z":"49a775f0.0f93ac","name":"","label":"Enter timezone (Eg +0530)","tooltip":"","group":"e656da65.ac8988","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":200,"y":380,"wires":[["a12b61fa.02197"]]},{"id":"bca95997.099688","type":"ui_date_picker","z":"49a775f0.0f93ac","name":"","label":"Enter date","group":"e656da65.ac8988","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":150,"y":300,"wires":[["315cfc2f.dcab44"]]},{"id":"8d678037.b41b","type":"ui_text_input","z":"49a775f0.0f93ac","name":"","label":"Enter time in 24hrs format","tooltip":"","group":"e656da65.ac8988","order":1,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":190,"y":340,"wires":[["247b4ce6.a02c54"]]},{"id":"d35a1d41.6aa07","type":"ui_ui_control","z":"49a775f0.0f93ac","name":"Weather Station webpage ->","x":680,"y":500,"wires":[[]]},{"id":"a12b61fa.02197","type":"change","z":"49a775f0.0f93ac","name":"","rules":[{"t":"set","p":"timezone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["e9d8f25a.08fd5"]]},{"id":"35f02978.0dbc76","type":"ui_button","z":"49a775f0.0f93ac","name":"","group":"e14bfed7.421a5","order":3,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":130,"y":500,"wires":[["b4e58655.b99c98"]]},{"id":"30630dca.be38e2","type":"http in","z":"49a775f0.0f93ac","name":"","url":"/weather1","method":"get","upload":false,"swaggerDoc":"","x":160,"y":680,"wires":[["be62f464.31f588"]]},{"id":"679e08d4.703158","type":"http response","z":"49a775f0.0f93ac","name":"","statusCode":"","headers":{},"x":890,"y":760,"wires":[]},{"id":"2a037afc.d2a486","type":"template","z":"49a775f0.0f93ac","name":"Template for weather station website","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<style>\n\t\t\t#h01{\n\t\t\t\tfont-family: garamond;\n\t\t\t\tfont-size: 300%;\n\t\t\t\ttext-align: center;\n\t\t\t\tbackground-color: #f6cf16;\n                color: white;\n\t\t\t\tpadding: 8px;\n\t\t\t}\n\t\t\ttable, th, td{\n\t\t\t    \n\t\t\t    border-bottom: 1px solid #ddd;\n\t\t\t\tcolor: #1374ba;\n\t\t\t    font-family: verdana;\n\t\t\t\tfont-size: 100%;\n\t\t\t\ttext-align: left;\n\t\t\t\tpadding: 8px;\n\t\t\t}\n\t\t\tth{\n\t\t\t    font-size: 150%;\n                background-color: #1374ba;\n                color: white;\n\t\t\t}\n\t\t\ttr:hover {background-color:#f5f5f5;}\n\t\t</style>\n\t\t<h1 id=\"h01\">Weather Station</h1>\n\t</head>\n\t<body>\n\t    <div align=\"center\">\n\t        <table> \n    \t\t\t<tr> \n    \t\t\t\t<th>Properties</th> \n    \t\t\t\t<th>Values</th>\n    \t\t\t</tr> \n    \t\t\t<tr> \n    \t\t\t\t<td>Latitude</td>\n    \t\t\t\t<td>{{payload.latitude}}*</td> \n    \t\t\t</tr>\t\t\t\n    \t\t\t<tr>\n    \t\t\t\t<td>Longitude</td>\n    \t\t\t\t<td>{{payload.longitude}}*</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Timezone</td>\n    \t\t\t\t<td>{{payload.timezone}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Time</td>\n    \t\t\t\t<td>{{payload.currently.time}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Summary</td>\n    \t\t\t\t<td>{{payload.currently.summary}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Icon</td>\n    \t\t\t\t<td>{{payload.currently.icon}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Precipitation Intensity</td>\n    \t\t\t\t<td>{{payload.currently.precipIntensity}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Precipitation Probability</td>\n    \t\t\t\t<td>{{payload.currently.precipProbability}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Temperature</td>\n    \t\t\t\t<td>{{payload.currently.temperature}}*C</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Apparent temperature</td>\n    \t\t\t\t<td>{{payload.currently.apparentTemperature}}*C</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Dew point</td>\n    \t\t\t\t<td>{{payload.currently.dewPoint}}*C</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Humidity</td>\n    \t\t\t\t<td>{{payload.currently.humidity}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Pressure</td>\n    \t\t\t\t<td>{{payload.currently.pressure}} hPa</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Wind speed</td>\n    \t\t\t\t<td>{{payload.currently.windSpeed}} m/s</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Wind gust</td>\n    \t\t\t\t<td>{{payload.currently.windGust}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Wind bearing</td>\n    \t\t\t\t<td>{{payload.currently.windBearing}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>Cloud cover</td>\n    \t\t\t\t<td>{{payload.currently.cloudCover}}</td>\n    \t\t\t</tr>\n    \t\t\t<tr>\n    \t\t\t\t<td>UV Index</td>\n    \t\t\t\t<td>{{payload.currently.uvIndex}}</td>\n    \t\t\t</tr>\n    \t\t\t\n    \t\t\t<tr>\n    \t\t\t\t<td>Visibility</td>\n    \t\t\t\t<td>{{payload.currently.visibility}}</td>\n    \t\t\t</tr>\n    \t\t\t\n    \t\t\t<tr>\n    \t\t\t\t<td>Ozone</td>\n    \t\t\t\t<td>{{payload.currently.ozone}}</td>\n    \t\t\t</tr>\n    \t\t</table>\n\t    </div>\n\t</body>\n</html>\n\n","output":"str","x":750,"y":720,"wires":[["679e08d4.703158"]]},{"id":"be62f464.31f588","type":"function","z":"49a775f0.0f93ac","name":"Create ISO 8601 format","func":"var time = flow.get('time');\nvar date = flow.get('date');\nvar tz = flow.get('timezone');\nmsg.lat = flow.get('lat');\nmsg.lon = flow.get('lon');\n\nif(time!=\"undefined\" && date!=\"undefined\" && tz!=\"undefined\" && msg.lat!=\"undefined\" && msg.lon!=\"undefined\"){\n    msg.dt = date+'T'+time+tz;\n    return msg;\n}else{\n    node.warn(\"Enter the missing ones!\");\n}","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["ca407a53.fff528"]]},{"id":"b4e58655.b99c98","type":"switch","z":"49a775f0.0f93ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":500,"wires":[["affb7f64.534f1"]]},{"id":"affb7f64.534f1","type":"change","z":"49a775f0.0f93ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Weather Station","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":500,"wires":[["d35a1d41.6aa07"]]},{"id":"67b27632.417648","type":"ui_text_input","z":"49a775f0.0f93ac","name":"","label":"Enter latitude in deg","tooltip":"","group":"31008262.88ea8e","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"","x":180,"y":420,"wires":[["10e58181.0b7a6e"]]},{"id":"680bcff5.8967a","type":"ui_text_input","z":"49a775f0.0f93ac","name":"","label":"Enter longitude in deg","tooltip":"","group":"31008262.88ea8e","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"","x":180,"y":460,"wires":[["445f5f8f.1780f"]]},{"id":"10e58181.0b7a6e","type":"change","z":"49a775f0.0f93ac","name":"","rules":[{"t":"set","p":"lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":420,"wires":[["7203b22e.3d2ffc"]]},{"id":"445f5f8f.1780f","type":"change","z":"49a775f0.0f93ac","name":"","rules":[{"t":"set","p":"lon","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["ade6686c.cce568"]]},{"id":"e9d8f25a.08fd5","type":"debug","z":"49a775f0.0f93ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":380,"wires":[]},{"id":"7203b22e.3d2ffc","type":"debug","z":"49a775f0.0f93ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":420,"wires":[]},{"id":"ade6686c.cce568","type":"debug","z":"49a775f0.0f93ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"ca407a53.fff528","type":"http request","z":"49a775f0.0f93ac","name":"Time Machine Request","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.darksky.net/forecast/xxxxxxxxxxxxxxxxxxxxxxxxx/{{lat}},{{lon}},{{dt}}","tls":"","proxy":"","authType":"basic","x":260,"y":600,"wires":[["ad95d75b.39e688","5bbe05e0.9a3ecc"]]},{"id":"ad95d75b.39e688","type":"function","z":"49a775f0.0f93ac","name":"msg.payload.currently.time = msg.payload.currently.time+\"\";","func":"msg.payload.currently.time = msg.payload.currently.time+\"\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["bdd7b18d.c1c12"]]},{"id":"315cfc2f.dcab44","type":"moment","z":"49a775f0.0f93ac","name":"Format date","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en_IN","output":"date","outputType":"msg","outTz":"Asia/Calcutta","x":430,"y":300,"wires":[["1cb7636f.d9739d"]]},{"id":"247b4ce6.a02c54","type":"moment","z":"49a775f0.0f93ac","name":"Format time","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Kolkata","adjAmount":"5.50","adjType":"hours","adjDir":"subtract","format":"HH:mm:ss","locale":"en_IN","output":"time","outputType":"msg","outTz":"Asia/Kolkata","x":430,"y":340,"wires":[["743b3ffa.dcc3"]]},{"id":"bdd7b18d.c1c12","type":"moment","z":"49a775f0.0f93ac","name":"","topic":"","input":"payload.currently.time","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":"0","adjType":"minutes","adjDir":"add","format":"ddd DD-MMM-YYYY HH:mm:ss","locale":"en_IN","output":"payload.currently.time","outputType":"msg","outTz":"Asia/Calcutta","x":760,"y":640,"wires":[["2a037afc.d2a486","f3cc1cda.728f5"]]},{"id":"482d1034.dd45b","type":"debug","z":"49a775f0.0f93ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"date","targetType":"msg","x":840,"y":300,"wires":[]},{"id":"8d0cebfe.381658","type":"debug","z":"49a775f0.0f93ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"time","targetType":"msg","x":840,"y":340,"wires":[]},{"id":"743b3ffa.dcc3","type":"change","z":"49a775f0.0f93ac","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["8d0cebfe.381658"]]},{"id":"1cb7636f.d9739d","type":"change","z":"49a775f0.0f93ac","name":"","rules":[{"t":"set","p":"date","pt":"flow","to":"date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["482d1034.dd45b"]]},{"id":"f3cc1cda.728f5","type":"debug","z":"49a775f0.0f93ac","name":"moment node output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":680,"wires":[]},{"id":"5bbe05e0.9a3ecc","type":"debug","z":"49a775f0.0f93ac","name":"http request node output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":560,"wires":[]},{"id":"e656da65.ac8988","type":"ui_group","z":"","name":"DateTime","tab":"d797cdce.8bace","order":1,"disp":true,"width":"9","collapse":false},{"id":"e14bfed7.421a5","type":"ui_group","z":"","name":"Enter","tab":"d797cdce.8bace","order":3,"disp":false,"width":"18","collapse":false},{"id":"31008262.88ea8e","type":"ui_group","z":"","name":"Location","tab":"d797cdce.8bace","order":2,"disp":true,"width":"9","collapse":false},{"id":"d797cdce.8bace","type":"ui_tab","z":"","name":"Weather","icon":"wi-wu-sunny","disabled":false,"hidden":false}]