Section 4/Video 4.2/4.2_flows1.json
[{"id":"4a334594.08c56c","type":"inject","z":"1f5fa83d.ee33e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":200,"wires":[["edf67425.afdaf8"]]},{"id":"b50ba6b9.f681e8","type":"debug","z":"1f5fa83d.ee33e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":200,"wires":[]},{"id":"edf67425.afdaf8","type":"http request","z":"1f5fa83d.ee33e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.darksky.net/forecast/ed100da45f6ff703315https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={YOUR API KEY}","tls":"","proxy":"","authType":"basic","x":520,"y":200,"wires":[["b50ba6b9.f681e8"]]}]
