Section 4/Video 4.6/4.6_flows3.json
[{"id":"40dfaf6.a5f9f5","type":"mqtt in","z":"f97805f8.a915f8","name":"","topic":"data/temp_dht11","qos":"0","datatype":"auto","broker":"bba7cf29.5b742","x":280,"y":100,"wires":[["3e1566ac.92c3ba","55979919.66a258"]]},{"id":"3e1566ac.92c3ba","type":"debug","z":"f97805f8.a915f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":100,"wires":[]},{"id":"55979919.66a258","type":"function","z":"f97805f8.a915f8","name":"Formatter","func":"msg.temp = msg.payload.split(',')[1];\nmsg.hum = msg.payload.split(',')[0];\n//msg.topic = \"INSERT INTO Weather(Date, Time, Temperature) values (date('now'), time('now'), \"+msg.temp+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["ebd368e8.28ca58","741a97ea.48f4d8"]]},{"id":"ebd368e8.28ca58","type":"switch","z":"f97805f8.a915f8","name":"","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":200,"wires":[["ce7ead8.0c1a35"]]},{"id":"469bffb2.a1cf8","type":"termux-notification","z":"f97805f8.a915f8","name":"","topic":"","nid":"","title":"Alert!!!","content":"Refrigerator temperature > 15*C","action":false,"button1":"","button1close":false,"button2":"","button2close":false,"button3":"","button3close":false,"priority":"high","sound":true,"vibrate":"500","x":850,"y":320,"wires":[[]]},{"id":"ce7ead8.0c1a35","type":"delay","z":"f97805f8.a915f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":260,"wires":[["469bffb2.a1cf8"]]},{"id":"8ab1f8a2.167748","type":"function","z":"f97805f8.a915f8","name":"Table formatter","func":"msg.payload =\n{\n    data: {\n    \n        \"a\": msg.time,\n        \"b\": msg.temp,\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["da6caa8c.576538","5f308e20.7cb84"]]},{"id":"da6caa8c.576538","type":"debug","z":"f97805f8.a915f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":380,"wires":[]},{"id":"5f308e20.7cb84","type":"ui_template","z":"f97805f8.a915f8","group":"d25b8e15.46a38","name":"","order":0,"width":"12","height":"2","format":"<table style=\"width:100%\" border=\"1\">\n  <tr>\n    <th>Timestamp</th> \n    <th>Temperature in *C</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:5\">\n    \n    <td>{{msg.payload.data.a}}</td>\n    <td>{{msg.payload.data.b}}</td> \n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":620,"y":320,"wires":[[]]},{"id":"741a97ea.48f4d8","type":"moment","z":"f97805f8.a915f8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD-MM-YYYY HH:mm:ss","locale":"en_US","output":"time","outputType":"msg","outTz":"Asia/Calcutta","x":440,"y":260,"wires":[["8ab1f8a2.167748"]]},{"id":"bba7cf29.5b742","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d25b8e15.46a38","type":"ui_group","z":"","name":"Temperature Monitor","tab":"688aecf0.81aad4","order":2,"disp":true,"width":"12","collapse":false},{"id":"688aecf0.81aad4","type":"ui_tab","z":"","name":"Weather Station","icon":"dashboard","disabled":false,"hidden":false}]