Section 4/Video 4.6/4.6_flows4-all-termux-nodes.json
[{"id":"3695705f.7bb46","type":"termux-battery-status","z":"2aba280d.8370c8","name":"","topic":"","x":400,"y":3700,"wires":[["5738769d.6a27f8"]]},{"id":"b579e1d9.8dfe3","type":"termux-camera-info","z":"2aba280d.8370c8","name":"","topic":"","x":390,"y":3740,"wires":[["4a3f4b35.4b0e74"]]},{"id":"e883b2f0.5445c","type":"termux-contact-list","z":"2aba280d.8370c8","name":"","topic":"","x":390,"y":3820,"wires":[["d7ba41d5.47f32"]]},{"id":"aef5813f.53d03","type":"termux-telephony-cellinfo","z":"2aba280d.8370c8","name":"","topic":"","x":390,"y":3860,"wires":[["342d672a.073b18"]]},{"id":"fb77d17a.080b7","type":"termux-telephony-deviceinfo","z":"2aba280d.8370c8","name":"","topic":"","x":400,"y":3900,"wires":[["2756d78a.5baa88"]]},{"id":"feff8d56.fcf04","type":"termux-tts-engines","z":"2aba280d.8370c8","name":"","topic":"","x":390,"y":3940,"wires":[["cce5240.5f07fe"]]},{"id":"72866cee.a9de04","type":"termux-dialog","z":"2aba280d.8370c8","name":"","topic":"Input text","hint":"Input text","title":"Test","textarea":true,"password":false,"x":370,"y":4060,"wires":[["9583d63c.5cbf78"]]},{"id":"76de49f5.d8fe88","type":"termux-download","z":"2aba280d.8370c8","name":"","topic":"","description":"Choosing a career - eJournal USA","title":"Test download","url":"https://photos.state.gov/libraries/korea/49271/dwoa_122709/choosingcareerej.pdf","x":380,"y":4300,"wires":[]},{"id":"7ad7b8fd.a467e8","type":"termux-tts-speak","z":"2aba280d.8370c8","name":"com.google.android.tts","topic":"","engine":"Google Text-to-speech Engine","language":"English","pitch":"1","rate":1,"stream":"ALARM","text":"Hi","x":420,"y":4220,"wires":[]},{"id":"941eb530.9a6588","type":"termux-vibrate","z":"2aba280d.8370c8","name":"","topic":"","duration":"1500","force":true,"x":380,"y":4180,"wires":[]},{"id":"900852fd.f2489","type":"termux-toast","z":"2aba280d.8370c8","name":"","topic":"","short":false,"x":370,"y":4140,"wires":[]},{"id":"9e15394d.affff8","type":"termux-notification","z":"2aba280d.8370c8","name":"","topic":"","nid":"","title":"Test","content":"Hi","action":false,"button1":"Close","button1close":true,"button2":"","button2close":false,"button3":"","button3close":false,"priority":"high","sound":true,"vibrate":"500","x":390,"y":4100,"wires":[["1d93443c.f39bfc"]]},{"id":"874df364.3e0a1","type":"inject","z":"2aba280d.8370c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":4020,"wires":[["3695705f.7bb46","b579e1d9.8dfe3","e883b2f0.5445c","aef5813f.53d03","fb77d17a.080b7","feff8d56.fcf04","d30c88d4.6e81b8","64da39e3.049438","812b7848.6afab8","72866cee.a9de04","9e15394d.affff8","900852fd.f2489","941eb530.9a6588","7ad7b8fd.a467e8","6b8e1e21.065ad","76de49f5.d8fe88"]]},{"id":"5738769d.6a27f8","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":3700,"wires":[]},{"id":"53e9c7d2.47c018","type":"termux-clipboard-set","z":"2aba280d.8370c8","name":"","topic":"","x":400,"y":4380,"wires":[]},{"id":"c60703c9.1261a","type":"termux-clipboard-get","z":"2aba280d.8370c8","name":"","topic":"","x":400,"y":4500,"wires":[["b3da586d.2361c8"]]},{"id":"64da39e3.049438","type":"termux-wifi-connectioninfo","z":"2aba280d.8370c8","name":"","topic":"","x":380,"y":3980,"wires":[["caa6afc2.b1d8c"]]},{"id":"812b7848.6afab8","type":"termux-wifi-scaninfo","z":"2aba280d.8370c8","name":"","topic":"","x":380,"y":4020,"wires":[["7182e170.637c4"]]},{"id":"6678e707.ad3008","type":"inject","z":"2aba280d.8370c8","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4380,"wires":[["53e9c7d2.47c018","c86c8fc7.ca801","58f76c4e.02fc94","a0213db1.53037"]]},{"id":"4ddd0b55.cff234","type":"inject","z":"2aba280d.8370c8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4500,"wires":[["c60703c9.1261a"]]},{"id":"c86c8fc7.ca801","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":4340,"wires":[]},{"id":"b3da586d.2361c8","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":4500,"wires":[]},{"id":"6b8e1e21.065ad","type":"termux-sms-inbox","z":"2aba280d.8370c8","name":"","topic":"","limit":"10","offset":0,"dates":true,"numbers":true,"x":390,"y":4260,"wires":[[]]},{"id":"d30c88d4.6e81b8","type":"termux-location","z":"2aba280d.8370c8","name":"","topic":"","provider":"network","request":"once","x":380,"y":3780,"wires":[["770ac2d4.a4d90c"]]},{"id":"4a3f4b35.4b0e74","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3740,"wires":[]},{"id":"770ac2d4.a4d90c","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3780,"wires":[]},{"id":"d7ba41d5.47f32","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3820,"wires":[]},{"id":"342d672a.073b18","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3860,"wires":[]},{"id":"2756d78a.5baa88","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3900,"wires":[]},{"id":"cce5240.5f07fe","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3940,"wires":[]},{"id":"caa6afc2.b1d8c","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3980,"wires":[]},{"id":"7182e170.637c4","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":4020,"wires":[]},{"id":"47d81207.47f6ac","type":"comment","z":"2aba280d.8370c8","name":"Note: You have to enable permissions to allow termux to access these facilities in your phone","info":"","x":400,"y":3600,"wires":[]},{"id":"84ab17b.405b5e8","type":"comment","z":"2aba280d.8370c8","name":"Note: Don't expect the output immediately. It might take some time...","info":"","x":320,"y":3640,"wires":[]},{"id":"9583d63c.5cbf78","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":4060,"wires":[]},{"id":"1d93443c.f39bfc","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":4100,"wires":[]},{"id":"58f76c4e.02fc94","type":"termux-sms-send","z":"2aba280d.8370c8","name":"","topic":"","numbers":"9445087608","x":390,"y":4420,"wires":[]},{"id":"a0213db1.53037","type":"termux-share","z":"2aba280d.8370c8","name":"","topic":"","action":"view","contenttype":"text/plain","default":true,"title":"Test","x":370,"y":4460,"wires":[]},{"id":"41c8dfa.9123f2","type":"termux-camera-photo","z":"2aba280d.8370c8","name":"","topic":"","cameraid":0,"x":400,"y":4540,"wires":[["8e2c1454.95bfe8"]]},{"id":"8e2c1454.95bfe8","type":"debug","z":"2aba280d.8370c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":4540,"wires":[]},{"id":"6a02217a.90cdf","type":"inject","z":"2aba280d.8370c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":4540,"wires":[["41c8dfa.9123f2"]]},{"id":"6e57e19c.b4cf2","type":"comment","z":"2aba280d.8370c8","name":"Check out https://wiki.termux.com/wiki/Termux-sms-send","info":"","x":690,"y":4260,"wires":[]},{"id":"5d787293.5927ec","type":"comment","z":"2aba280d.8370c8","name":"Check out https://github.com/termux/termux-api/issues/124","info":"","x":910,"y":4540,"wires":[]}]