Section 4/Video 4.6/4.6_flows2.json
[{"id":"40dfaf6.a5f9f5","type":"mqtt in","z":"f97805f8.a915f8","name":"","topic":"data/temp_dht11","qos":"0","datatype":"auto","broker":"bba7cf29.5b742","x":280,"y":100,"wires":[["3e1566ac.92c3ba","55979919.66a258"]]},{"id":"3e1566ac.92c3ba","type":"debug","z":"f97805f8.a915f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":100,"wires":[]},{"id":"55979919.66a258","type":"function","z":"f97805f8.a915f8","name":"Formatter","func":"msg.temp = msg.payload.split(',')[1];\nmsg.hum = msg.payload.split(',')[0];\n//msg.topic = \"INSERT INTO Weather(Date, Time, Temperature) values (date('now'), time('now'), \"+msg.temp+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["ebd368e8.28ca58","741a97ea.48f4d8"]]},{"id":"ebd368e8.28ca58","type":"switch","z":"f97805f8.a915f8","name":"","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":200,"wires":[["ce7ead8.0c1a35"]]},{"id":"ce7ead8.0c1a35","type":"delay","z":"f97805f8.a915f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":260,"wires":[["469bffb2.a1cf8"]]},{"id":"469bffb2.a1cf8","type":"termux-notification","z":"f97805f8.a915f8","name":"","topic":"","nid":"","title":"Alert!!!","content":"Refrigerator temperature > 15*C","action":false,"button1":"","button1close":false,"button2":"","button2close":false,"button3":"","button3close":false,"priority":"high","sound":true,"vibrate":"500","x":850,"y":320,"wires":[[]]},{"id":"bba7cf29.5b742","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]