Section 3/Video 3.5/3.5_flows1.json
[{"id":"8a4debb2.f68498","type":"http request","z":"6dad4dd4.6fad44","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21&text=I'm%20enjoying%20Node-RED!.%20I'm%20confused.&sentences=true","tls":"","proxy":"","authType":"basic","x":470,"y":240,"wires":[["2b42f077.3aae9"]]},{"id":"ae7d81ea.1bf0e","type":"change","z":"6dad4dd4.6fad44","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Language\":\"en\",\"Accept-Language\":\"es\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":240,"wires":[["8a4debb2.f68498"]]},{"id":"bbb15b84.0fffe8","type":"inject","z":"6dad4dd4.6fad44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["ae7d81ea.1bf0e"]]},{"id":"7a716db9.1a28a4","type":"debug","z":"6dad4dd4.6fad44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":240,"wires":[]},{"id":"2b42f077.3aae9","type":"json","z":"6dad4dd4.6fad44","name":"","property":"payload","action":"","pretty":false,"x":650,"y":240,"wires":[["7a716db9.1a28a4"]]},{"id":"6e23bdda.954744","type":"http request","z":"6dad4dd4.6fad44","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21","tls":"","proxy":"","authType":"basic","x":460,"y":380,"wires":[["54bc9684.060e38"]]},{"id":"c5368f4e.492a6","type":"change","z":"6dad4dd4.6fad44","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Language\":\"en\",\"Accept-Language\":\"es\",\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Exploring Node-RED makes me happy. I'm angry\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":380,"wires":[["6e23bdda.954744"]]},{"id":"d9b5f1fd.e52cb","type":"inject","z":"6dad4dd4.6fad44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["c5368f4e.492a6"]]},{"id":"588d76b1.6a0058","type":"debug","z":"6dad4dd4.6fad44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":380,"wires":[]},{"id":"54bc9684.060e38","type":"json","z":"6dad4dd4.6fad44","name":"","property":"payload","action":"","pretty":false,"x":650,"y":380,"wires":[["588d76b1.6a0058"]]},{"id":"7ff7a7bd.beaff8","type":"watson-tone-analyzer-v3","z":"6dad4dd4.6fad44","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":480,"y":460,"wires":[["b5fa5253.0741c"]]},{"id":"a56482b6.fd132","type":"inject","z":"6dad4dd4.6fad44","name":"","topic":"","payload":"I'm happy. I'm sad. I'm angry.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":460,"wires":[["7ff7a7bd.beaff8"]]},{"id":"b5fa5253.0741c","type":"debug","z":"6dad4dd4.6fad44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":460,"wires":[]}]