Section 3/Video 3.9/3.9_flows1-function+dashboard nodes.json
[{"id":"b6de9b6d.4abfa8","type":"function","z":"e360b73a.d8bce8","name":"","func":"var count = context.get('count')||0;\ncount += 1;\ncontext.set('count',count);\nmsg.count = count;\ncount = \"Your number of retweets is \"+count;\nglobal.set('poll', count);\nmsg.payload = \"I'm retweeting \"+msg.tweet.user.screen_name+\"'s tweet!\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["89311f1a.657f2"]]},{"id":"b318de9b.ff6c2","type":"ui_text","z":"e360b73a.d8bce8","group":"b928389e.096958","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":580,"wires":[]},{"id":"89311f1a.657f2","type":"ui_button","z":"e360b73a.d8bce8","name":"","group":"b6073cc5.20f0e","order":4,"width":0,"height":0,"passthru":false,"label":"Checkout no. of retweets!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"poll","payloadType":"global","topic":"","x":790,"y":540,"wires":[["5e5508c9.9b53e8"]]},{"id":"5e5508c9.9b53e8","type":"ui_audio","z":"e360b73a.d8bce8","name":"","group":"b6073cc5.20f0e","voice":"en-GB","always":"","x":980,"y":540,"wires":[]},{"id":"b928389e.096958","type":"ui_group","z":"","name":"Tweets","tab":"3f706861.7f6698","order":1,"disp":true,"width":"6","collapse":true},{"id":"b6073cc5.20f0e","type":"ui_group","z":"","name":"Quick info","tab":"3f706861.7f6698","disp":true,"width":"6","collapse":true},{"id":"3f706861.7f6698","type":"ui_tab","z":"","name":"Tweet analysis","icon":"twitter","disabled":false,"hidden":false}]