Section 3/Video 3.9/3.9_flows2.json
[{"id":"c4125930.563fe8","type":"twitter in","z":"e360b73a.d8bce8","twitter":"","tags":"nodered NodeRED","user":"false","name":"Search NodeRED","inputs":1,"x":190,"y":100,"wires":[["821201ab.22ff1"]]},{"id":"d62bb1e2.dc6d1","type":"debug","z":"e360b73a.d8bce8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":160,"wires":[]},{"id":"821201ab.22ff1","type":"sentiment","z":"e360b73a.d8bce8","name":"","property":"payload","x":380,"y":100,"wires":[["b453b523.44c458"]]},{"id":"b453b523.44c458","type":"switch","z":"e360b73a.d8bce8","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["d62bb1e2.dc6d1","ca8a8e88.30b29","96ccf2c6.d610e"],["85bdc9da.1ea638","609c5bf2.bf3604"]]},{"id":"85bdc9da.1ea638","type":"debug","z":"e360b73a.d8bce8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":210,"y":240,"wires":[]},{"id":"1c2e37d1.bb2a08","type":"twitter out","z":"e360b73a.d8bce8","twitter":"","name":"Tweet","x":490,"y":380,"wires":[]},{"id":"609c5bf2.bf3604","type":"e-mail","z":"e360b73a.d8bce8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"lakshana3r@gmail.com","dname":"","x":570,"y":200,"wires":[]},{"id":"ca8a8e88.30b29","type":"function","z":"e360b73a.d8bce8","name":"","func":"var count = context.get('count')||0;\ncount += 1;\ncontext.set('count',count);\nmsg.count = count;\ncount = \"Your number of retweets is \"+count;\nglobal.set('poll', count);\nmsg.payload = \"I'm retweeting \"+msg.tweet.user.screen_name+\"'s tweet!\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["8e98eda6.2ee6d","1c2e37d1.bb2a08"]]},{"id":"96ccf2c6.d610e","type":"ui_text","z":"e360b73a.d8bce8","group":"b928389e.096958","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":360,"wires":[]},{"id":"8e98eda6.2ee6d","type":"ui_button","z":"e360b73a.d8bce8","name":"","group":"b6073cc5.20f0e","order":4,"width":0,"height":0,"passthru":false,"label":"Checkout no. of retweets!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"poll","payloadType":"global","topic":"","x":550,"y":320,"wires":[["becfc54d.78dc78"]]},{"id":"becfc54d.78dc78","type":"ui_audio","z":"e360b73a.d8bce8","name":"","group":"b6073cc5.20f0e","voice":"en-GB","always":"","x":740,"y":320,"wires":[]},{"id":"b928389e.096958","type":"ui_group","z":"","name":"Tweets","tab":"3f706861.7f6698","order":1,"disp":true,"width":"6","collapse":true},{"id":"b6073cc5.20f0e","type":"ui_group","z":"","name":"Quick info","tab":"3f706861.7f6698","disp":true,"width":"6","collapse":true},{"id":"3f706861.7f6698","type":"ui_tab","z":"","name":"Tweet analysis","icon":"twitter","disabled":false,"hidden":false}]