Section 4/Video 4.5/4.5_flows3-serial+dashboard.json
[{"id":"175c1b7b.b47135","type":"debug","z":"18590b7c.26d495","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":260,"wires":[]},{"id":"c978c85f.57fe68","type":"serial in","z":"18590b7c.26d495","name":"","serial":"f34c8ac7.209d18","x":150,"y":260,"wires":[["175c1b7b.b47135","8fef96b9.0ce7a8","e87e2166.894ea"]]},{"id":"8fef96b9.0ce7a8","type":"function","z":"18590b7c.26d495","name":"Formatter","func":"msg.temp = msg.payload.split(',')[1];\nmsg.hum = msg.payload.split(',')[0];\nmsg.topic = \"INSERT INTO Weather(Date, Time, Temperature) values (date('now'), time('now'), \"+msg.temp+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["a320d077.8302c","45c8d0d2.c937d","77c005f7.68f61c","76b8895f.d40fc8"]]},{"id":"a320d077.8302c","type":"ui_gauge","z":"18590b7c.26d495","name":"","group":"1e4595f2.f822ca","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"*C","format":"{{msg.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":320,"wires":[]},{"id":"45c8d0d2.c937d","type":"ui_gauge","z":"18590b7c.26d495","name":"","group":"873f13eb.b7425","order":0,"width":0,"height":0,"gtype":"compass","title":"Humidity","label":"%","format":"{{msg.hum}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":360,"wires":[]},{"id":"f34c8ac7.209d18","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1e4595f2.f822ca","type":"ui_group","z":"","name":"Temperature","tab":"6ce5fffe.c23bb","disp":true,"width":"6","collapse":false},{"id":"873f13eb.b7425","type":"ui_group","z":"","name":"Humidity","tab":"6ce5fffe.c23bb","disp":true,"width":"6","collapse":false},{"id":"6ce5fffe.c23bb","type":"ui_tab","z":"","name":"Weather station","icon":"dashboard","disabled":false,"hidden":false}]