Section 4/Video 4.5/4.5_flows4-serial+dashboard+mail+sqlite.json
[{"id":"175c1b7b.b47135","type":"debug","z":"18590b7c.26d495","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":260,"wires":[]},{"id":"8fef96b9.0ce7a8","type":"function","z":"18590b7c.26d495","name":"Formatter","func":"msg.temp = msg.payload.split(',')[1];\nmsg.hum = msg.payload.split(',')[0];\nmsg.topic = \"INSERT INTO Weather(Date, Time, Temperature) values (date('now'), time('now'), \"+msg.temp+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["a320d077.8302c","45c8d0d2.c937d","77c005f7.68f61c","76b8895f.d40fc8"]]},{"id":"a320d077.8302c","type":"ui_gauge","z":"18590b7c.26d495","name":"","group":"1e4595f2.f822ca","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"*C","format":"{{msg.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":320,"wires":[]},{"id":"45c8d0d2.c937d","type":"ui_gauge","z":"18590b7c.26d495","name":"","group":"873f13eb.b7425","order":0,"width":0,"height":0,"gtype":"compass","title":"Humidity","label":"%","format":"{{msg.hum}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":360,"wires":[]},{"id":"dd8248c6.983208","type":"function","z":"18590b7c.26d495","name":"Counter","func":"var count = context.get('count')||0;\ncount += 1;\ncontext.set('count',count);\nmsg.count = count;\nmsg.topic = \"Alert! Refrigerator temperature > 15*C\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["e15ed292.f751"]]},{"id":"75b099c0.6f5298","type":"debug","z":"18590b7c.26d495","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":500,"wires":[]},{"id":"e15ed292.f751","type":"switch","z":"18590b7c.26d495","name":"Check counter","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":420,"wires":[["7a9ed5dd.670a9c"]]},{"id":"7a9ed5dd.670a9c","type":"e-mail","z":"18590b7c.26d495","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"lakshana3r@gmail.com","dname":"Send mail","x":780,"y":420,"wires":[]},{"id":"21d83f75.0f134","type":"debug","z":"18590b7c.26d495","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":260,"wires":[]},{"id":"1e95d3af.48bccc","type":"inject","z":"18590b7c.26d495","name":"CREATE","topic":"CREATE TABLE Weather(Id INTEGER PRIMARY KEY AUTOINCREMENT, Date DATE, Time TIME, Temperature_C NUMERIC)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":160,"wires":[["76b8895f.d40fc8"]]},{"id":"c7885263.002f6","type":"inject","z":"18590b7c.26d495","name":"SELECT","topic":"SELECT * FROM Weather","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["76b8895f.d40fc8"]]},{"id":"76b8895f.d40fc8","type":"sqlite","z":"18590b7c.26d495","mydb":"b9c1ac55.b1548","sqlquery":"msg.topic","sql":"","name":"Store Temp data","x":560,"y":260,"wires":[["21d83f75.0f134"]]},{"id":"77c005f7.68f61c","type":"switch","z":"18590b7c.26d495","name":"Check if temp > 15*C","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"15","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":460,"wires":[["dd8248c6.983208"],["75b099c0.6f5298"]]},{"id":"c978c85f.57fe68","type":"serial in","z":"18590b7c.26d495","name":"","serial":"f34c8ac7.209d18","x":150,"y":260,"wires":[["175c1b7b.b47135","8fef96b9.0ce7a8","e87e2166.894ea"]]},{"id":"1e4595f2.f822ca","type":"ui_group","z":"","name":"Temperature","tab":"6ce5fffe.c23bb","disp":true,"width":"6","collapse":false},{"id":"873f13eb.b7425","type":"ui_group","z":"","name":"Humidity","tab":"6ce5fffe.c23bb","disp":true,"width":"6","collapse":false},{"id":"b9c1ac55.b1548","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"f34c8ac7.209d18","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6ce5fffe.c23bb","type":"ui_tab","z":"","name":"Weather station","icon":"dashboard","disabled":false,"hidden":false}]