Section 3/Video 3.4/3.4_flows2.json
[{"id":"62b14caa.0a37b4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"70bd6081.e630a","type":"inject","z":"62b14caa.0a37b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":140,"wires":[["d095789f.ccbeb8"]]},{"id":"e4b8753.f5de288","type":"debug","z":"62b14caa.0a37b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":140,"wires":[]},{"id":"d095789f.ccbeb8","type":"function","z":"62b14caa.0a37b4","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nglobal.set('poll', count);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["e4b8753.f5de288"]]},{"id":"65e79ee9.250bc","type":"inject","z":"62b14caa.0a37b4","name":"","topic":"","payload":"poll","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":80,"wires":[["e4b8753.f5de288"]]},{"id":"a95f2655.7c1db8","type":"function","z":"62b14caa.0a37b4","name":"Incrementer","func":"msg.payload = msg.payload+1;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["154dc9a5.570c76"]]},{"id":"154dc9a5.570c76","type":"switch","z":"62b14caa.0a37b4","name":"Checking conditions","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"count","vt":"flow"},{"t":"gte","v":"count","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":320,"wires":[["a95f2655.7c1db8","52acc09d.0e8fb"],["c64a62.d82e05a"]]},{"id":"c3e75715.5ae2f8","type":"change","z":"62b14caa.0a37b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"count","pt":"flow","to":"poll","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["154dc9a5.570c76"]]},{"id":"1b147b91.b80eb4","type":"inject","z":"62b14caa.0a37b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["c3e75715.5ae2f8"]]},{"id":"7882b7a.e0beb48","type":"debug","z":"62b14caa.0a37b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":320,"wires":[]},{"id":"52acc09d.0e8fb","type":"template","z":"62b14caa.0a37b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Count: {{payload}} ","output":"str","x":770,"y":280,"wires":[["7882b7a.e0beb48"]]},{"id":"c64a62.d82e05a","type":"template","z":"62b14caa.0a37b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Count: {{payload}} ","output":"str","x":770,"y":360,"wires":[["7882b7a.e0beb48"]]},{"id":"ba5d96c3.855778","type":"debug","z":"62b14caa.0a37b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":540,"wires":[]},{"id":"19b487f0.dd8fd8","type":"link in","z":"62b14caa.0a37b4","name":"","links":["4373aa68.472764"],"x":280,"y":520,"wires":[["364c1d02.1a5de2"]]},{"id":"ce7e6140.3d2aa","type":"comment","z":"62b14caa.0a37b4","name":"Linked with flow 4","info":"","x":340,"y":460,"wires":[]},{"id":"364c1d02.1a5de2","type":"rbe","z":"62b14caa.0a37b4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":520,"wires":[["926c2fa9.d25fe"]]},{"id":"926c2fa9.d25fe","type":"delay","z":"62b14caa.0a37b4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":520,"wires":[["ba5d96c3.855778"]]},{"id":"45a86109.1c551","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9d23a401.bb6c28","type":"inject","z":"45a86109.1c551","name":"","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["d8268201.14bc4"]]},{"id":"4373aa68.472764","type":"link out","z":"45a86109.1c551","name":"","links":["a986c20f.17024","19b487f0.dd8fd8"],"x":555,"y":220,"wires":[]},{"id":"1daa402d.43615","type":"comment","z":"45a86109.1c551","name":"Linked with the debug node in flow 3","info":"","x":260,"y":120,"wires":[]},{"id":"d8268201.14bc4","type":"function","z":"45a86109.1c551","name":"isNegative?","func":"var math = global.get('mathjs'); //Loading mathjs npm module\nnode.status({text:\"Started\"}); //Adding status text below the function node\nif (math.isNegative(msg.payload) === true){ //Checking if the number is negative - Checkout documentation to mathjs npm module in the resources\n    setTimeout(function(){ //Executes the function defined after 1000ms\n        node.status({fill:\"yellow\",shape:\"ring\",text:\"Processing...\"}); //Showing status icon with text below the function node\n        setTimeout(function(){ \n            node.send({'payload' : msg.payload}); //Sending asynchronous messages to the flow\n            node.status({fill:\"green\",shape:\"dot\",text:\"Done!\"}); \n        },1000);\n    },1000);\n    node.log(\"Negative\"); //Logging a text to the console\n}else{\n    setTimeout(function(){\n        node.status({fill:\"yellow\",shape:\"dot\",text:\"Warning...\"});\n        node.warn(\"Something happened!\"); //Logging a warning message to the debug console\n        setTimeout(function(){\n            node.status({fill:\"red\",shape:\"dot\",text:\"Error!\"});\n            node.error(\"The number is positive!!!\"); //Logging an error message to the debug console\n            node.error(\"The number is positive!!!\", {'payload' : 'Caught error'}); //Sending an error message to the catch node\n        },1000);\n    },1000);\n    node.log(\"Positive\");\n}\nreturn;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["4373aa68.472764"]]},{"id":"9ba73d0f.18f95","type":"catch","z":"45a86109.1c551","name":"","scope":["d8268201.14bc4"],"uncaught":false,"x":370,"y":320,"wires":[["6ab3afc1.a9f83"]]},{"id":"c8d1af2f.91e7b","type":"status","z":"45a86109.1c551","name":"","scope":["d8268201.14bc4"],"x":380,"y":400,"wires":[["62400ee5.944b3"]]},{"id":"6ab3afc1.a9f83","type":"debug","z":"45a86109.1c551","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":320,"wires":[]},{"id":"62400ee5.944b3","type":"debug","z":"45a86109.1c551","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":400,"wires":[]},{"id":"61fa5b.a480c5a4","type":"inject","z":"45a86109.1c551","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["d8268201.14bc4"]]},{"id":"290db9ee.bb2b36","type":"inject","z":"45a86109.1c551","name":"","topic":"","payload":"-3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["d8268201.14bc4"]]}]