Section 3/Video 3.6/3.6_flows3 localhost.json
[{"id":"52b53ce8.d13cb4","type":"http request","z":"f74da7f2.6af898","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://lakr-dev.mybluemix.net/name/lakSHana/ramaLINGAM?fmt={{{fmt}}}&title={{{title}}}","tls":"","proxy":"","authType":"basic","x":610,"y":220,"wires":[["20e5c83.7482c38"]]},{"id":"11800960.f8e9d7","type":"inject","z":"f74da7f2.6af898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["43d1e2a1.7bab1c"]]},{"id":"20e5c83.7482c38","type":"debug","z":"f74da7f2.6af898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":220,"wires":[]},{"id":"43d1e2a1.7bab1c","type":"change","z":"f74da7f2.6af898","name":"","rules":[{"t":"set","p":"fmt","pt":"msg","to":"informal","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Ms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["52b53ce8.d13cb4"]]},{"id":"b39fe3e4.cd5a9","type":"http request","z":"f74da7f2.6af898","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://lakr-dev.mybluemix.net/name/lakSHana/ramaLINGAM","tls":"","proxy":"","authType":"basic","x":610,"y":360,"wires":[["b83dc681.ce5b28"]]},{"id":"4b611577.13775c","type":"inject","z":"f74da7f2.6af898","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["737b6f00.dc0f7"]]},{"id":"b83dc681.ce5b28","type":"debug","z":"f74da7f2.6af898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":360,"wires":[]},{"id":"737b6f00.dc0f7","type":"change","z":"f74da7f2.6af898","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"fmt\":\"formal\",\"title\":\"Ms\"}","tot":"json"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["b39fe3e4.cd5a9"]]},{"id":"6ec4274b.9712b8","type":"comment","z":"f74da7f2.6af898","name":"GET","info":"","x":110,"y":160,"wires":[]},{"id":"c4fd8fb2.c094e","type":"comment","z":"f74da7f2.6af898","name":"POST","info":"","x":110,"y":300,"wires":[]}]