Section 3/Video 3.6/3.6_flows2 cloud.json
[{"id":"c443fe14.dccbb","type":"http in","z":"cd066ebd.06ad7","name":"","url":"/name/:first/:last","method":"get","upload":false,"swaggerDoc":"","x":160,"y":140,"wires":[["d310f0d2.c700d","df7769bc.b4c8f8"]]},{"id":"28634228.8eb06e","type":"http response","z":"cd066ebd.06ad7","name":"","statusCode":"200","headers":{},"x":540,"y":140,"wires":[]},{"id":"d310f0d2.c700d","type":"debug","z":"cd066ebd.06ad7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":200,"wires":[]},{"id":"df7769bc.b4c8f8","type":"function","z":"cd066ebd.06ad7","name":"Name Formatter","func":"var firstName = msg.req.params.first;\nvar lastName = msg.req.params.last;\nvar format = msg.req.query.fmt || 'full';\nvar title = msg.req.query.title;\nfunction nameFormat(name){\n    return name.slice(0,1).toUpperCase() + name.slice(1,name.length).toLowerCase();\n}\nif(format == 'full'){\n    msg.payload = \"Hi, \" + nameFormat(firstName) +\" \"+ nameFormat(lastName) +\"!\";\n}else if(format == 'formal'){\n    msg.payload = \"Hi, \"+title+ \".\" + nameFormat(lastName) +\"!\";\n}else if(format == 'informal'){\n    msg.payload = \"Hi, \" + nameFormat(firstName) +\"!\";\n}\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["28634228.8eb06e"]]},{"id":"86778c64.44032","type":"comment","z":"cd066ebd.06ad7","name":"GET","info":"","x":110,"y":80,"wires":[]},{"id":"8fd66e8.582a49","type":"comment","z":"cd066ebd.06ad7","name":"POST","info":"","x":110,"y":340,"wires":[]},{"id":"a71a3940.2d7a48","type":"http in","z":"cd066ebd.06ad7","name":"","url":"/name/:first/:last","method":"post","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["1912c712.5a3a49","7d6f851.e29ad7c"]]},{"id":"36b1107e.5d1f9","type":"http response","z":"cd066ebd.06ad7","name":"","statusCode":"200","headers":{},"x":580,"y":400,"wires":[]},{"id":"1912c712.5a3a49","type":"debug","z":"cd066ebd.06ad7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":260,"y":460,"wires":[]},{"id":"7d6f851.e29ad7c","type":"function","z":"cd066ebd.06ad7","name":"Name Formatter","func":"var firstName = msg.req.params.first;\nvar lastName = msg.req.params.last;\nvar format = msg.payload.fmt || 'full';\nvar title = msg.payload.title;\nfunction nameFormat(name){\n    return name.slice(0,1).toUpperCase() + name.slice(1,name.length).toLowerCase();\n}\nif(format == 'full'){\n    msg.payload = \"Hi, \" + nameFormat(firstName) +\" \"+ nameFormat(lastName) +\"!\";\n}else if(format == 'formal'){\n    msg.payload = \"Hi, \"+title+ \".\" + nameFormat(lastName) +\"!\";\n}else if(format == 'informal'){\n    msg.payload = \"Hi, \" + nameFormat(firstName) +\"!\";\n}\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["36b1107e.5d1f9"]]}]